<div class="panel-footer col-md-12 col-lg-12 col-xs-12 col-sm-12 bg-gray-x">
  <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
    <p class="font_secundary font-small">Call</p>
    <%= image_tag 'chat/call.png', title: 'Call Chat', class: 'img-responsive' %>
  </div>
  <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
    <p class="font_secundary font-small ">Video Call</p>
    <%= image_tag 'chat/video_chat.png', title: 'Video Chat', class: 'img-responsive' %>
  </div>
  <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
    <p class="font_secundary font-small">Favorite</p>
    <%= image_tag 'chat/favorite.png', title: 'Favorite', class: 'img-responsive' %>
  </div>
  <div class="col-md-3 col-lg-3 col-xs-3 col-sm-3">
    <p class="font_secundary font-small">New Chat</p>
    <%= image_tag 'chat/new_chat.png', title: 'New Chat', class: 'img-responsive' %>
  </div>
</div><!-- end panel-footer -->