<%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "socket.io" %>

<div id="container" class="margin-left-15 margin-top-15">
  <div id="demoContainer">
    <div id="connectControls" class="col-md-12">
        <button id="connectButton" class="btn btn-primary" onclick="connect_audio()">Connect</button>

        <button id="hangupButton" class="btn btn-primary" disabled="disabled" onclick="hangup()">Hangup</button>

    </div>
    <div id="iam_audio">&nbsp; Not yet connected...</div>
    <br />
    <strong>Connected users:</strong>
    <div id="otherClients_audio"></div>


    <!-- Note... this demo should be updated to remove video references -->
    <div id="videos">
      <video id="callerAudio"></video>
    </div>
    <div id="acceptCallBox"> <!-- Should be initially hidden using CSS -->
      <div id="acceptCallLabel"></div>
      <button id="callAcceptButton" class="btn btn-primary" >Accept</button>
      <button id="callRejectButton" class="btn btn-success">Reject</button>
    </div>

  </div>
</div>