<%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= javascript_include_tag "socket.io" %>





<%= render 'layouts/video_chat_body' %>



<script>


window.onload = function test(){


    connect_video("<%= @current_user.email %>");
}



</script>