<% @users.each do |user| %>
    <div class="row" style="margin-left: 40%; margin-bottom: 2%">
      <div class="col-md-3">

        <%= link_to image_tag("mino.jpg", alt: "profile photo") %>

      </div>
      <div class="col-md-1">
        <h2><%= user.name %></h2>
      </div>
    </div>

<% end %>




