<% provide(:title, "Contact us") %>
<div class="well bg-shopping_cart">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor">
      <div class="col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10" >
        <span class="font-xxlarge ">Contact</span>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor ">
        <div class="form-group">
          Contact us:
        </div>
        <div class="form-group">
          Email: *****
        </div>
        <div class="form-group">
          Phone:******
        </div>
        <div class="form-group">
          Adrees:****
        </div>
      </div>
    </div>
  </div>
</div>



