$('#feed_wrapper').html("<%= escape_javascript(render('shared/feed')) %>");
$('#sscate').html("<%= escape_javascript(render('shared/subsubcategory')) %>")
$('.blissgon_store_carousel').html("<%= escape_javascript(render('shared/product_carousel')) %>");
