<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 padding-bottom-10" id="central_column">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 post_form_wrapper">
      <%= render 'shared/post_form' %>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-10">
        <%= render :action => 'product_carts/index', :controller => 'product_cart',
                  :template => 'product_carts/index' %>
    </div>

    <div id="feed_wrapper" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 margin-top-10">
      <%= render 'shared/feed' %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 no_side_padding">
    <!--<div class="col-md-5 no_left_padding" id="sscate">-->
      <!--<% render 'shared/subsubcategory' %>-->
    <!--</div>-->

    <%= render :action => 'video_chat/index',
               :controller => 'video_chat', :template => 'video_chat/index' %>

  </div>
</div>


<script>
    $('#central_column').on("mouseenter", ".post_form_wrapper", function () {
        $('#hidden_label').css("display", "inline-block")
    });

    $('#hidden_label').on("change", "#my_uploader", function () {
        if ($(this).val())
            $('#hidden_label').addClass('btn-primary')
    });

    window.onunload = function (e) {
        var e = e || window.event;
        var user_id = <%= @current_user.id %>
        var jsonPost = { user_id: user_id, close_window: 'true'  }
        //IE & Firefox
        if (e) {
            $.ajax({
                type: 'GET',
                url: '/static_pages/update_users',
                data: jsonPost,
                dataType: 'script'
            });

//              e.returnValue = 'Are you sure?';
        }

        $.ajax({
            type: 'GET',
            url: '/static_pages/update_users',
            data: jsonPost,
            dataType: 'script'
        });

        // For Safari
//          return 'Are you sure?';
    };


    /*var user_id =<%= @current_user.id %>
     var jsonPost = { user_id: user_id }
     window.setInterval(function() {
     $.ajax({
     type: 'GET',
     url: '/static_pages/update_users',
     data: jsonPost,
     dataType: 'script'
     });
     }, 10000);*/
</script>
