<% publish_to @path do %>
$(".text_area_<%= @conversation.id %>").val('');
$(".text_area_<%= @conversation.id %>").focus();
$(".text_area_<%= @conversation.id %>").css('height', '44px');

var id = "<%= @conversation.id %>";
var chatbox = $("#chatbox_" + id + " .chatboxcontent");
var sender_id = "<%= @message.user.id %>";
var reciever_id = $('meta[name=user-id]').attr("content");



chatbox.append("<%= j render( partial: @message ) %>");
chatbox.scrollTop(chatbox[0].scrollHeight);

if(sender_id != reciever_id){
    chatBox.chatWith(id);
    chatbox.children().last().removeClass("self").addClass("other");
    chatbox.scrollTop(chatbox[0].scrollHeight);
    chatBox.notify();


}
<% end %>