<% provide(:title, "Log in") %>

<div class="row">

  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 center">
    <%= image_tag('image_index.png', alt: 'Sttattus Logo', class: 'img-responsive') %>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-md-offset-1 col-lg-offset-1 col-sm-offset-1 col-xs-12 padding_60top">
    <%= form_for(:session, url: login_path) do |f| %>
        <% flash.each do |message_type, message| %>
            <div class="alert alert-<%= message_type %>"><%= message %></div>
        <% end %>
        <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <%= f.label "Are you member?", class: 'control-label' %>
        </div>
        <div class=" form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <%= f.email_field :email, class: 'form-control text-login',
                            placeholder: 'Email or phone', required: true %>
        </div>
        <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <%= f.password_field :password, class: 'form-control text-login',
                             placeholder: 'Password', required: true %>
        </div>
        <div class="form-group col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <%= f.label :remember_me, class: "checkbox inline" do %>
                 <%= f.check_box :remember_me %>
                 <span class="css-label text-remember">Remember me</span>
                 <span class="css-label text-forgot">
                   <%= link_to t(:Forgot_your_password?) + "", '#', class: "text-forgot" %>
                 </span>

            <% end %>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
            <%= f.submit "", class: "login_button img-responsive" %>
        </div>
    <% end %>
    <!-- <p>New user? <%= link_to "Sign up now!", signup_path %></p>
   -->
  </div>
</div>

