<div class="container">
  <div class ="well">
    <div class="row center">


      <div class="col-md-3 col-lg-3 col-sm-12 col-md-12">
        <h4> <strong>1. <%= wizard_steps[0] %></strong></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-md-12">
        <h4>2. <%= wizard_steps[1] %></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-md-12">
        <h4>3. <%= wizard_steps[2] %></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-md-12">
        <h4>4. <%= wizard_steps[3] %></h4>
      </div>
    </div>
  </div>
</div>