

<div class="container">
  <div class ="well">
    <div class="row center">


      <div class="col-md-3 col-lg-3 col-sm-12 col-md-12">
        <h4> <strong>1. <%= wizard_steps[0] %></strong></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-md-12">
        <h4>2. <%= wizard_steps[1] %></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-md-12">
        <h4>3. <%= wizard_steps[2] %></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-md-12 ">
        <h4>4. <%= wizard_steps[3] %></h4>
      </div>
    </div>
  </div>
</div>





<div class="row padding_top">
  <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-12 col-xs-12">

    <%= form_for @address, url: wizard_path do |f| %>
        <%= hidden_field_tag(:id, "address") %>
        <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :street_address %>
            <%= f.text_field :street_address, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :zip_code %>
            <%= f.text_field :zip_code, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :phone %>
            <%= f.text_field :phone, class: 'form-control' %>
        </div>
        <button type="submit" class='btn-sttatus img-responsive'>
          <%= image_tag 'cars/btn_continue_form.png' %>
        </button>
    <% end %>
  </div>
</div>




<%=link_to 'continue',next_wizard_path  %>