<div class="container">
  <div class ="well">
    <div class="row center">


      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4>1. <%= wizard_steps[0] %></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4> 2. <%= wizard_steps[1] %></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4>3. <%= wizard_steps[2] %></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4><strong>4. <%= wizard_steps[3] %></strong></h4>
      </div>
    </div>
  </div>
</div>



<div class="row padding_top">
  <div class="col-md-6 col-md-offset-6 col-lg-3 col-lg-offset-3 col-sm-12 col-xs-12">

    <%= form_for @order, url: wizard_path do |f| %>
        <div class="form-group">
            <%= f.label :subtotal %>
            <%= f.text_field :subtotal,{class: 'form-control',:readonly => true} %>
        </div>
        <div class="form-group">
            <%= f.label :shipping %>
            <%= f.text_field :shipping,{class: 'form-control',:readonly => true} %>
        </div>
        <div class="form-group">
            <%= f.label :total %>
            <%= f.text_field :total,{class: 'form-control',:readonly => true} %>
        </div>
        <button type="submit" class='btn-sttatus img-responsive'>
          <%= image_tag 'cars/btn_continue_form.png' %>
        </button>
    <% end %>
  </div>
</div>
