<div class="container">
  <div class ="well">
    <div class="row center">


      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4>1. <%= wizard_steps[0]%></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4><strong> 2. <%= wizard_steps[1]%></strong></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4>3. <%= wizard_steps[2]%></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4>4. <%= wizard_steps[3]%></h4>
      </div>
    </div>
  </div>
</div>



<div class="row padding_top">
  <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-12 col-xs-12">

    <%= form_for @order, url: wizard_path do |f| %>

        <div class="form-group">
            <%= f.label :delivery_company %>
            <%= f.select :delivery_company,['UPS 1','ZOOM 2','DHL 3'],class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :shipping %>
            <%= f.text_field :shipping,class: 'form-control' %>
        </div>
        <button type="submit" class='btn-sttatus img-responsive'>
          <%= image_tag 'cars/btn_continue_form.png' %>
        </button>
    <% end %>
  </div>
</div>
