<div class="container">
  <div class ="well">
    <div class="row center">


      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4>1. <%= wizard_steps[0]%></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4> 2. <%= wizard_steps[1]%></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4><strong>3. <%= wizard_steps[2]%></strong></h4>
      </div>

      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <h4>4. <%= wizard_steps[3]%></h4>
      </div>
    </div>
  </div>
</div>



<div class="row padding_top">
  <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-12 col-xs-12">

    <%= form_tag(wizard_path, method: "post") do %>
        <%= hidden_field_tag(:id, "payment") %>


        <div class="form-group">
            <%= label_tag(:x_card_num, "Credit Card Number") %>
            <%= text_field_tag(:x_card_num,'4111111111111111') %>
        </div>
        <div class="form-group">
            <%= label_tag(:x_exp_date, "Exp") %>
            <%= text_field_tag(:x_exp_date,'1117') %>
        </div>
        <div class="form-group">
            <%= label_tag(:x_card_code, "CCV") %>
            <%= text_field_tag(:x_card_code,'1120') %>
        </div>
        <div class="form-group">
            <%= label_tag(:x_first_name, "First Name") %>
            <%= text_field_tag(:x_first_name,'Jesus') %>
        </div>
        <div class="form-group">
            <%= label_tag(:x_last_name, "Last Name") %>
            <%= text_field_tag(:x_last_name,'Garcia') %>
        </div>

        <button type="submit" class='btn-sttatus img-responsive'>
          <%= image_tag 'cars/btn_pay.png' %>
        </button>
    <% end %>
  </div>
</div>
