<li id="li_comment">
  <%= link_to gravatar_for(comment.user, size: 25), comment.user %>
  <span class="user"> <%= link_to comment.user.name, comment.user %></span>
  <span class="content"> <%= comment.content %> </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(comment.created_at) %> ago.
    <% if not current_user.nil? %>
        <% if current_user?(comment.user) || current_user.admin? %>

            <%= link_to "| delete", [ comment.post, comment ] , method: :delete,
                data: { confirm: "Are You sure?" } %>
        <% end %>
    <% end %>
  </span>
</li>
