<div id="container">
  <div id="demoContainer">
    <div id="connectControls">
      <button id="connectButton" onclick="connect_audio()">Connect</button>
      <button id="hangupButton" disabled="disabled" onclick="hangup()">Hangup</button>
    </div>
    <div id="iam_audio">Not yet connected...</div>
    <br />
    <strong>Connected users:</strong>
    <div id="otherClients_audio"></div>


    <!-- Note... this demo should be updated to remove video references -->
    <div id="videos">
      <video id="callerAudio"></video>
    </div>
    <div id="acceptCallBox"> <!-- Should be initially hidden using CSS -->
      <div id="acceptCallLabel"></div>
      <button id="callAcceptButton" >Accept</button> <button id="callRejectButton">Reject</button>
    </div>

  </div>
</div>