<% if @posted_with_pics.first %>

    <div class="col-md-12 margin-top-10">
      <hr />
    </div>

    <section>
      <div class="col-md-12 body_modal_prof">
        <div class="row no-side-margin">
          <div class="col-md-12 div-txt-center">
            <h4 class="txt-center"> Posted Images </h4>
          </div>
          <% @posted_with_pics.each do |post| %>
              <div class="col-md-3">
                <div id="uploaded_preview">
                  <%= link_to image_tag(post.picture.url,
                                        class: "user_pics_modal"),
                              controller: "users", action: "show",
                              post_id: post.id, cover: 1
                  %>
                </div>

              </div>
          <% end %>
        </div>
        <br>
      </div>
    </section>
<% end %>
