<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :followed_id, @user.id %></div>
    <button type="submit" class='btn-sttatus img-responsive'>
      <%= image_tag 'users/btn_follow.png' %>
    </button>
<% end %>