<section>
  <div class="col-md-12" id="header_modal_prof">
    <%= form_for(@picture_portrait, html: {multipart: true}) do |f| %>

        <div class="row">
          <h4 class="text-center"> Upload Image </h4>
          <div class="col-md-8 col-md-offset-4">
            <div class="col-md-4 ">
              <img src="/assets/camara.png" class="btn-sttatus img-responsive"  data-toggle="tooltip" title="Add photo">

                  <%= f.file_field :picture,
                                   accept: 'image/jpeg,image/gif,image/png',
                                   class: 'photo_upload', id: "file_profile_photo",
                                   onchange: 'preview_portrait_img_R()' %>
                  <%= content_tag(:div, tag(:img, {id: "new_portrait_preview", height: "80", width: "150"}),
                                  id: "upload_profile_preview") %>
                </img>
            </div>
            <div class="col-md-4 ">
              <button id="clear_profile_photo" class="btn-sttatus img-responsive" onclick="remove_preview_R()">
                <%= image_tag 'btn_delete.png' %>
              </button>
            </div>

          </div>
          <div class="col-md-4 col-md-offset-8">
            <button type="submit" id="submit-prof-photo" class='btn-sttatus img-responsive'>
              <%= image_tag 'users/btn_save.png' %>
            </button>
          </div>
        </div>

    <% end %>
  </div>
</section>