<div class="row padding_top">

  <%= form_for(@product, html: {multipart: true, id: "product_wizard"}) do |f| %>
      <div>

        <h3 class="text-white">New product</h3>
        <section>

          <div class="row">
            <div class="form-group">
                <div class="col-md-1">
                  <%= f.label :name %>
                </div>

                <div class="col-md-3">
                  <%= f.text_field :name, class: 'form-control', id: 'product_name' %>
                </div>

                <div class="col-md-2" >
                  <%= f.label :active %>
                </div>
                <div class="col-md-1">
                  <%= f.check_box :active, class: 'form-control', checked: false %>
                </div>

                <div class="col-md-2">
                  <label for='select_type'>Select type</label>
                </div>

                <div class="col-md-3">
                  <select id='type_product' name='type_product' class='form-control' onchange="insert_code()">
                    <option>Select product</option>
                    <option value='physical'>Physical product</option>
                    <option value='digital'>Digital product</option>
                  </select>

                </div>
            </div>
          </div> <!-- end row -->

          <div class="type_sale">
            <div class="form-group">

            </div>
          </div>


        </section>

        <h3 class="text-white">Media product</h3>
        <section>
          <div class="row">
            <% for i in 0...@images.length %>
                <div class='form-group'>
                    <div class="col-md-2 margin-top-20" >
                      <label class="glyphicon glyphicon-camera img-responsive"
                             data-toggle="tooltip" title="Add photo">
                        <%= label_tag 'Image', nil, class: 'font-medium' %>
                        <%= file_field_tag "picture_product_#{i}", accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload', id: "file_field-#{i}", onchange: "preview_image(#{i})" %>
                        <%= content_tag(:div, tag(:img, {id: "img-preview-#{i}", class: "img-responsive"}), id: "upload-preview-#{i}") %>
                      </label>
                      <label id="clear-<%= "#{i}" %>" class="glyphicon glyphicon-remove" onclick="remove_image(<%= i %>)"></label>

                    </div>
                </div>
            <% end %>
          </div>

          <div class='form-group'>
            <%= label_tag "Video" %>
            <%= file_field_tag "video", id: "video_field" %>
          </div>

        </section>


  <% end %>
  </div>

</div>





<script>
    function insert_delivery_fields(deliveryType) {

        var international_check = $('#international_delivery');
        var domestic_check = $('#domestic_delivery');

        if (deliveryType == 'domestic' && domestic_check.is(':checked')) {
            $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='domestic price'  name='domestic_delivery_field' id='domestic_delivery_field'  /></div>");
            $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='price for extra item'  name='domestic_extra_price_delivery' id='domestic_extra_price_delivery_field'  /></div>");
        }
        if (deliveryType == 'international' && international_check.is(':checked') == true) {
            $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='international price'  name='international_delivery_field' id='international_delivery_field'  /></div>");
            $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='international price'  name='international_extra_price_delivery' id='international_extra_price_delivery_field'  /></div>");
        }
        if (international_check.is(':checked') == false) {
            $('#international_delivery_field').remove();
            $('#international_extra_price_delivery_field').remove();
        }

        if (domestic_check.is(':checked') == false) {
            $('#domestic_delivery_field').remove();
            $('#domestic_extra_price_delivery_field').remove();
        }

        if (deliveryType == 'country_check') {

            var checkcountry = $('#country_delivery');

            if (checkcountry.is(':checked') == true) {
                $(".type_sale").append("<%= escape_javascript(render 'shared/countries_select') %>");
            }
            if (checkcountry.is(':checked') == false) {

                $('#country_id').remove();
            }

        }

    }
</script>