<% if not @user.portraits.first %>


    <div style=" ">  </div>

    <% if current_user?(@user) %>

        <%= link_to image_tag('users/camera_white.png', id: 'change_portrait', class: ''), new_portraits_path,
                             title: "Add Cover photo", remote: true %>

    <% end %>

<% else %>

    <% if current_user?(@user) %>
        <%= image_tag(current_portrait.picture.url,
                              id: 'portrait', class: 'height_default img-responsive')    %>

        <%= link_to image_tag('users/camera_white.png', id: 'change_portrait', class: ''), new_portraits_path,
                    title: "Update cover photo", remote: true %>

        <!--<div id="update_prof_pic">Update Portrait</div>-->
    <% else %>

        <%= image_tag(current_portrait.picture.url,   id: 'prof_photo') %>
    <% end %>

<% end %>