<% if @products_car.length >1 %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title center"><%= @subcategory.name %> Store </h3>
      </div>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          <div class="item active center slider-size">
            <div class="active_products">
              <div class="row">
                <div class="col-sm-3  border_store">

                  <div class="thumbnail">
                    <p><%= link_to @products_car[0].name, :controller => 'product_carts', :action => 'show', :id => @products_car[0].id %></p>

                    <p> <%= image_tag "http://991.com/gallery_180x180/Shakira-Te-Dejo-Madrid-216018-991.jpg" %></p>

                    <div class="caption">
                      <p>

                      <div class="row">
                        <% if @products_car[0].price > 0 %>
                            <div class="col-md-4">
                              <%= link_to "Buy", {:controller => 'product_carts', :action => 'show', :id => @products_car[0].id}, {class: "btn btn-primary store-button"} %>
                            </div>
                            <div class="col-md-4">
                              <%= link_to "Rent", {:controller => 'product_carts', :action => 'show', :id => @products_car[0].id}, {class: "btn btn-primary store-button"} %>
                            </div>
                        <% else %>
                            <div class="col-md-4">
                              <%= link_to "Free", {:controller => 'product_carts', :action => 'show', :id => @products_car[0].id}, {class: "btn btn-primary store-button"} %>
                            </div>
                        <% end %>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <% if @products_car[0].video.file != nil %>
                              <a href="product_carts/show_video/?id=<%= 0 %>" class="btn-default btn-lg btn-block" data-remote="true">
                                <span class="glyphicon glyphicon-facetime-video"></span>
                              </a>
                          <% end %>
                        </div>
                      </div>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-3 border_store">
                  <div class="thumbnail">
                    <p><%= link_to @products_car[1].name, :controller => 'product_carts', :action => 'show', :id => @products_car[1].id %></p>

                    <p><%= image_tag "http://991.com/gallery_180x180/Shakira-Te-Dejo-Madrid-216018-991.jpg" %></p>

                    <div class="caption">
                      <p>

                      <div class="row">
                        <% if @products_car[1].price %>
                            <div class="col-md-4">
                              <%= link_to "Buy", {:controller => 'product_carts', :action => 'show', :id => @products_car[1].id}, class: "btn btn-primary store-button" %>
                            </div>
                            <div class="col-md-4">
                              <%= link_to "Rent", {:controller => 'product_carts', :action => 'show', :id => @products_car[1].id}, class: "btn btn-primary store-button" %>
                            </div>
                        <% else %>
                            <div class="col-md-4">
                              <%= link_to "Free", {:controller => 'product_carts', :action => 'show', :id => @products_car[1].id}, class: "btn btn-primary store-button" %>
                            </div>
                        <% end %>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <% if @products_car[1].video.file != nil %>
                              <a href="product_carts/show_video/?id=<%= 1 %>" class="btn-default btn-lg btn-block" data-remote="true">
                                <span class="glyphicon glyphicon-facetime-video"></span>
                              </a>
                          <% end %>
                        </div>
                      </div>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="modal fade" id="video_modal_<%= @products_car.size-1 %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <% if @products_car[@products_car.size-1].video.present? %>
                      <%= video_tag @products_car[@products_car.size-1].video.file.filename, :size => "320x240", :controls => true %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <% for i in 0...@products_car.length-1 %>
              <div class="item center slider-size">
                <div class="row">
                  <div class="col-sm-3 border_store">
                    <div class="thumbnail">
                      <p> <%= link_to @products_car[i].name, :controller => 'product_carts', :action => 'show', :id => @products_car[i].id %></p>

                      <p><%= image_tag "http://991.com/gallery_180x180/Shakira-Te-Dejo-Madrid-216018-991.jpg" %></p>

                      <div class="caption">
                        <p>

                        <div class="row">
                          <% if @products_car[i].price > 0 %>
                              <div class="col-md-4">
                                <%= link_to "Buy", {:controller => 'product_carts', :action => 'show', :id => @products_car[i].id}, {class: "btn btn-primary store-button"} %>
                              </div>
                              <div class="col-md-4">
                                <%= link_to "Rent", {:controller => 'product_carts', :action => 'show', :id => @products_car[i].id}, {class: "btn btn-primary store-button"} %>
                              </div>
                          <% else %>
                              <div class="col-md-4">
                                <%= link_to "Free", {:controller => 'product_carts', :action => 'show', :id => @products_car[i].id}, {class: "btn btn-primary store-button"} %>
                              </div>
                          <% end %>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <% if @products_car[i].video.file != nil %>
                                <a href="product_carts/show_video/?id=<%= i %>" class="btn-default btn-lg btn-block" data-remote="true">
                                  <span class="glyphicon glyphicon-facetime-video"></span>
                                </a>
                            <% end %>
                          </div>
                        </div>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3 border_store">
                    <div class="thumbnail">
                      <p><%= link_to @products_car[i+1].name, :controller => 'product_carts', :action => 'show', :id => @products_car[i+1].id %></p>

                      <p><%= image_tag "http://991.com/gallery_180x180/Shakira-Te-Dejo-Madrid-216018-991.jpg" %></p>

                      <div class="caption">

                        <p>

                        <div class="row">
                          <% if @products_car[i+1].price > 0 %>
                              <div class="col-md-4">
                                <%= link_to "Buy", {:controller => 'product_carts', :action => 'show', :id => @products_car[i+1].id}, class: "btn btn-primary store-button" %>
                              </div>
                              <div class="col-md-4">
                                <%= link_to "Rent", {:controller => 'product_carts', :action => 'show', :id => @products_car[i+1].id}, {class: "btn btn-primary store-button"} %>
                              </div>
                          <% else %>
                              <div class="col-md-4">
                                <%= link_to "Free", {:controller => 'product_carts', :action => 'show', :id => @products_car[i+1].id}, {class: "btn btn-primary store-button"} %>
                              </div>
                          <% end %>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <% if @products_car[i+1].video.file != nil %>
                                <a href="product_carts/show_video/?id=<%= i+1 %>" class="btn-default btn-lg btn-block" data-remote="true">
                                  <span class="glyphicon glyphicon-facetime-video"></span>
                                </a>
                            <% end %>
                          </div>
                        </div>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>


        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon-chevron-right left_carousel_control" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left " aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>


      </div>
    </div>
<% else %>
    <h2 class="center">You don't have products yet</h2>

<% end %>