<% if not @user.profile_pictures.first %>

    <%= image_tag "upload_default.png", id: 'prof-no-photo' %>

    <% if current_user?(@user) %>
        <%= link_to(glyph('camera'),
                    new_profile_pictures_path, class: 'btn', id: 'change-no-photo',
                    title: "Add photo", remote: true) %>
    <% end %>

<% else %>

    <% if current_user?(@user) %>
        <%= link_to image_tag(current_profile_pic.picture.url,
                              id: 'prof_photo-current', class: 'img-responsive'), new_profile_pictures_path,
                    title: "Update photo", remote: true    %>
          <%= image_tag 'users/camara.png', id: 'change_photo', class: 'img-responsive' %>
        <div id="update_prof_pic">&nbsp;</div>
    <% else %>

        <%= image_tag(current_profile_pic.picture.url,
                      id: 'prof_photo', class: 'img-responsive') %>
    <% end %>

<% end %>