<div id="order_state_code_wrapper">
  <% parent_region ||= params[:parent_region] %>
  <% country = Carmen::Country.coded(parent_region) %>

  <% if country.nil? %>
      <select name="user[state]" id="user_state", class="form-control">
        <option value="">State</option>
      </select>
  <% elsif country.subregions? %>

      <%= subregion_select(:user, :state, parent_region) %>
  <% else %>
      <%= text_field(:user, :state) %>
  <% end %>
</div>