<div id="sub_cate_select_wrapper">
  <% parent_category ||= params[:parent_category] %>

  <% category = Category.find_by_id(parent_category) %>
  <%= label_category = "" %>

  <% if category.nil? %>
      <select name="user[subcategory_id]" id="user_subcategory_id" class="form-control">
        <option value="">Sub Category</option>
      </select>

  <% elsif category.subcategories %>

      <select name="user[subcategory_id]" id="user_subcategory_id" class="form-control">
        <%= category.subcategories.each do |subcat| %>

            <option value=<%= subcat.id %>><%= subcat.name %></option>

        <% end %>
      </select>
  <% end %>


</div>
