<%= form_for(current_user.active_relationships.find_by( followed_id: @user.id ),
             html: { method: :delete  },
             remote: true) do |f| %>
    <button type="submit" class='btn-sttatus img-responsive'>
      <%= image_tag 'users/btn_unfollow.png' %>
    </button>
 <% end %> 
