<% if @current_user.profile_pictures.first %>

    <div class="col-md-12">
      <hr />
    </div>

    <section>
      <div class="col-md-12 body_modal_prof">
        <div class="row no-side-margin">
          <div class="col-md-12 div-txt-center">

            <h4 class="txt-center"> User Images </h4>
          </div>
          <% for i in 0... @current_user.profile_pictures.length %>
              <div class="col-md-3">
                <div id="uploaded_preview">
                  <%=
                      link_to image_tag(current_user.profile_pictures[i].picture.url, class: "user_pics_modal"),
                              controller: "users", action: "show",
                              profile_picture_id:
                                      current_user.profile_pictures[i].id
                  %>
                </div>

              </div>
          <% end %>
        </div>
        <br>
      </div>

    </section>
<% end %>