<div class="row">

<% if @current_user.id == @user.id %>
   <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 bg_white col-banner-profile padding_10top padding_10bottom margin-bottom-10 no_side_padding">
        <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6">
          <%= link_to image_tag('users/btn_my_sell.png', class:'img-responsive'), new_product_cart_path, remote: true %>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6">
          <%= link_to image_tag('users/btn_my_products.png', class:'img-responsive'), product_carts_index_backend_path %>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6">
          <%= image_tag 'users/btn_jobs.png', class: 'img-responsive' %>
        </div>
         <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6">
           <%= image_tag 'users/btn_fans_club.png', class: 'img-responsive' %>
         </div>
         <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6">
           <%= image_tag 'users/btn_international_events.png', class: 'img-responsive' %>
         </div>
         <div class="col-md-2 col-lg-2 col-xs-6 col-sm-6">
           <%= image_tag 'users/btn_new_talents.png', class: 'img-responsive' %>
         </div>
   </div>

<% end %>
</div> <!-- end row -->

<script>
    function open_window(kindofcall) {

        if (kindofcall == 'video') {
            var windowOpen = window.open("/video_chat/show", "test", "height=600,width=800");
        }
        if (kindofcall == 'audio') {
            var windowOpen = window.open("/video_chat/audio_call", "test", "height=600,width=800");
        }


    }


    function start_conversation(sid, rip) {


        var sender_id = sid;
        var recipient_id = rip;

        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(data.conversation_id);
        });
    }


</script>

