var ready = function () {

    var form = $("#product_wizard");


    form.children("div").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",

        onStepChanging: function (event, currentIndex, newIndex) {
            var product_name = $('#product_name').val();
            var product_type = $('#type_product').val();
            var product_file = $('#fileToUpload').val();
            var product_price = $('#price').val();
            var product_domestic_delivery = $('#domestic_delivery_field').val();
            var product_extra_domestic_delivery = $('#domestic_extra_price_delivery_field').val();
            var product_international_delivery = $('#international_delivery_field').val();
            var product_extra_international_delivery = $('#international_extra_price_delivery_field').val();


            if (product_name == null || product_name == "") {

                alert('You must fill up the name filed');

                return false;
            }
            if (product_type == null || product_type == "") {
                alert('You must fill up the type product filed');
                return false;
            }

            if (product_file == "") {
                alert('You must fill up the file field');
                return false;
            }
            if (product_price == "") {
                alert('You must fill up the price field');
                return false;
            }

            if (product_domestic_delivery == "") {
                alert('You must fill up the price for domestic shipping');
                return false;
            }

            if (product_extra_domestic_delivery == "") {
                alert('You must fill up the price for extra domestic shipping');
                return false;
            }

            if (product_international_delivery == "") {
                alert('You must fill up the price for international shipping');
                return false;
            }
            if (product_extra_international_delivery == "") {
                alert('You must fill up the price for international extra shipping');
                return false;
            }


            return true;


        },
        onFinished: function (event, currentIndex) {
            $('#product_wizard').submit();

        }
    });

}

$(document).ready(ready);
$(document).on("page:load", ready);
function insert_code() {

    var select_product = $('#type_product');
    if (select_product.val() == 'digital') {
        $('#label_sale').remove();
        $('#label_free').remove();
        $('#label_rent').remove();
        $('#fileToUpload').remove();
        $('#price').remove();
        $('#label_select').remove();
        $('#select_rent_time').remove();
        $('#label_file').remove();
        $('#label_price').remove();
        $('.time_to_rent_div').remove();
        $('#label_delivery').remove();
        $('#delivery').remove();

        $('#label_delivery').remove();
        $('#domestic_delivery').remove();
        $('#international_delivery').remove();
        $('#country_delivery').remove();
        $('#label_delivery_country').remove();


        $('.type_sale').append("<div class ='row select_sale'> <div class='col-md-12'> " +

                " <label id='label_sale'><input type = 'radio'  name = 'sale_type' class='form-control' id = 'sale_id' value = 'ToSell' checked = 'checked' onchange='clean_time_to_rent(&#39;sale&#39;)' />To Sell</label>" +


                "<label id='label_rent' ><input type = 'radio' name = 'sale_type' class='form-control' id = 'rent_id'  value = 'ToRent' onchange='insert_time_to_rent()' />To Rent</label>" +


                "<label id='label_free'><input type = 'radio' name = 'sale_type' class='form-control' id = 'free_id' value = 'ForFree' onchange='clean_time_to_rent(&#39;free&#39;)' />For Free</label>" +


                "</div></div>");

        $('.type_sale').append("<div class='row'><div class='form-group'>" +
                "<div class='col-md-2''>" +
                "<label for='price' id='label_price'>Price</label>" +
                "</div>" +
                "<div class='col-md-4'>" +
                "<input type='text' placeholder='price' class='form-control' name='price' id='price' />" +
                "</div>" +
                "</div></div>");

        $('.type_sale').append("<div class='row margin-top-5'><div class='form-group'>" +
                "<div class='col-md-2'>" +
                "<label for='select_sale' id='label_file'>File</label>" +
                "</div>" +
                "<div class= 'col-md-4'>" +
                "<input type='file' class='form-control' name='product_file' id='fileToUpload' />" +
                "</div>" +
                "</div></div>");


    }
    else {
        $('#fileToUpload').remove();
        $('#label_sale').remove();
        $('#label_free').remove();
        $('#label_rent').remove();
        $('#price').remove();
        $('#label_select').remove();
        $('#select_rent_time').remove();
        $('#label_file').remove();
        $('#label_price').remove();
        $('.time_to_rent_div').remove();
        $('#label_delivery').remove();
        $('#delivery').remove();

        $('#label_delivery').remove();
        $('#domestic_delivery').remove();
        $('#international_delivery').remove();
        $('#country_delivery').remove();
        $('#label_delivery_country').remove();


        $('.type_sale').append("<label id='label_sale' style='margin-left: 2%;'><input type = 'radio'  name = 'sale_type' id = 'sale_id' value = 'ToSell' checked = 'checked'/>To Sell</label>");


        $('.type_sale').append("<div class='form-group'>" +
                "<div class='col-md-2'>" +
                "<label for='price' id='label_price'>Price</label>" +
                "</div>" +
                "<div class ='col-md-4'>" +
                "<input type='text' placeholder='price' class='form-control' name='price' id='price' />" +
                "</div>" +
                "</div>");


        $('.type_sale').append("<div class='form-group'>" +
                "<div class='col-md-3'>" +
                "<label for='delivery' id='label_delivery'>Domestic Delivery</label>" +
                "</div>" +
                "<div class='col-md-1' >" +
                "<input type='checkbox' class='form-control' name='domestic_delivery' id='domestic_delivery' onchange='insert_delivery_fields(&#39;domestic&#39;)' />" +
                "</div>" +
                "<div class='col-md-3'>" +
                "<label for='delivery' id='label_delivery'>International Delivery</label>" +
                "</div>" +
                "<div class='col-md-1' >" +
                "<input type='checkbox' class='form-control' name='international_delivery' id='international_delivery' onchange='insert_delivery_fields(&#39;international&#39;)' />" +
                "</div>" +
                "<div class='col-md-3'>" +
                "<label for='country_delivery' id='label_delivery_country'>Are you in your country?</label>" +
                "</div>" +
                "<div class='col-md-1'>" +
                "<input type='checkbox' class='form-control' name='country_delivery' id='country_delivery' onchange='insert_delivery_fields(&#39;country_check&#39;)'  />" +
                "</div>" +
                "</div>");


    }
}

function insert_delivery_fields(deliveryType) {

    var international_check = $('#international_delivery');
    var domestic_check = $('#domestic_delivery');

    if (deliveryType == 'domestic' && domestic_check.is(':checked')) {
        $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='domestic price'  name='domestic_delivery_field' id='domestic_delivery_field'  /></div>");
        $('.type_sale').append("<div class='form-group margin-top-10'><input type='text' class='form-control' placeholder='price for extra item'  name='domestic_extra_price_delivery' id='domestic_extra_price_delivery_field'  /></div>");
    }
    if (deliveryType == 'international' && international_check.is(':checked') == true) {
        $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='international price'  name='international_delivery_field' id='international_delivery_field'  /></div>");
        $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='international price'  name='international_extra_price_delivery' id='international_extra_price_delivery_field'  /></div>");
    }
    if (international_check.is(':checked') == false) {
        $('#international_delivery_field').remove();
        $('#international_extra_price_delivery_field').remove();
    }

    if (domestic_check.is(':checked') == false) {
        $('#domestic_delivery_field').remove();
        $('#domestic_extra_price_delivery_field').remove();
    }

    if (deliveryType == 'country_check') {
        var checkcountry = $('#country_delivery');

        if (checkcountry.is(':checked') == true) {
            $(".type_sale").append("<%= escape_javascript(render 'countries_select') %>");
        }
        else {
            $('#delivery_country_select').remove();
        }


    }


}

function clean_time_to_rent(saleType) {


    if (saleType == 'free') {
        $('#label_select').remove();
        $('#select_rent_time').remove();
        $('#price').remove();
        $('#label_price').remove();
    }

    if (saleType == 'rent') {
        $('#label_select').remove();
        $('#select_rent_time').remove();
    }

    if (saleType == 'sale') {

        $('#label_select').remove();
        $('#select_rent_time').remove();
        $('#price').remove();
        $('#label_price').remove();
        $('.type_sale').append("<label for='price' id='label_price'>Price</label>" +
                "<input type='text' placeholder='price' class='form-control' name='price' id='price' />");
    }


}


function insert_time_to_rent() {

    $('#label_select').remove();
    $('#select_rent_time').remove();
    $('#price').remove();
    $('#label_price').remove();
    $('.time_to_rent_div').remove();

    $('.type_sale').append("<label for='price' id='label_price'>Price</label>" +
            "<input type='text' placeholder='price' class='form-control' name='price' id='price' />");

    $('.type_sale').append("<div class='time_to_rent_div'/>");


    $('.time_to_rent_div').append("<label for='select_rent_time' id='label_select'>Select rent type</label>" +
            "<select id='select_rent_time' name='rent_time' class='form-control'>" +
            "<option value='day'>Daily</option>" +
            "<option value='week'>Weekly</option>" +
            "<option value='moth'>Monthly</option>" +
            "</select>");


}