<% provide(:title, "Edit user") %>

<div class="row padding_top ">

	<div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 bg-white col-banner-profile " >
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 col-md-offset-2 col-lg-offset-2"><%= image_tag 'users/icon_users.png', class: 'img-responsive' %></div>
          <div class="col-md-4 col-lg-4 col-sm-10 col-xs-10 col-md-offset-0 col-lg-offset-0  col-sm-offset-0  col-xs-offset-0  margin-left-n-50"><h4> Update yor profile </h4></div>
        </div>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
            <div class="form-group">
                <%= f.label :name, class: 'control-label' %>
                <%= f.text_field :name, class: 'form-control' %>
		    </div>
            <div class="form-group">
                <%= f.label :email, class: 'control-label' %>
                <%= f.email_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
			    <%= f.label :password, class: 'control-label' %>
			    <%= f.password_field :password, class: 'form-control'%>
			</div>
            <div class="form-group">
			    <%= f.label :password_confirmation, class: 'control-label' %>
			    <%= f.password_field :password_confirmation, class: 'form-control'%>
			</div>
            <button type="submit" class='btn-sttatus img-responsive'>
                <%= image_tag 'users/btn_save.png' %>
            </button>
		<% end %>
			
	</div>
</div>
