<% provide(:title, 'Sign up') %>

<div class="row padding_top">

  <div class="col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 bg-white col-banner-profile " >
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10">
      <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2 col-md-offset-2 col-lg-offset-2"><%= image_tag 'users/icon_users.png', class: 'img-responsive' %></div>
      <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 col-md-offset-0 col-lg-offset-0 margin-left-n-40"><h4> Tell us about you: </h4></div>
    </div>

    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>
        <div class="form-group">
            <%= f.label :birthdate, class: 'control-label' %>
            <%= f.date_field :birthdate,
                             :value => Time.now.strftime('%Y-%m-%d'), id: "date", class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.country_select :country,{}, priority: %w(US CA) ,
                                  prompt: 'Country',  class: 'form-control'  %>
         </div>

        <div class="form-group">
            <%= render partial: 'subregion_select',
                       locals: {parent_region: f.object.country} %>
        </div>

        <div class="form-group">
            <%= f.text_field :phone, class: 'form-control',
                         id: "phone", placeholder: "Phone", required: true %>
        </div>

        <% if params[:user].nil? %>
            <div class="form-group">
                <%= f.text_field :name, class: 'form-control',
                             placeholder: "Name", required: true %>
            </div>
        <% else %>
            <%= f.hidden_field :name, value: params[:user][:name] %>
        <% end %>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <h4>We just want to know what kind of things u like: </h4>
        </div>

        <div class="form-group">
            <%= f.select :category, Category.all.collect { |p| [p.name, p.id] }, {},
                         { prompt: "Choose one Category" , class: 'form-control'} %>

        </div>

        <div class="form-group">
            <%= render partial: 'subcategories_select',
                       :locals => {parent_category: f.object.category} %>
        </div>
        <div class="form-group">
            <%= f.email_field :email, class: 'form-control',
                          placeholder: "E-mail", required: true %>
        </div>
        <div class="form-group">
            <%= f.password_field :password, class: 'form-control',
                                 placeholder: "Password", required: true %>
        </div>
        <div class="form-group">
            <%= f.password_field :password_confirmation, class: 'form-control',
                                 placeholder: "Password confirmation", required: true %>

        </div>
         <div class="col-md-6  col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12 margin-bottom-10">
           <button type="submit" class='btn-sttatus img-responsive'>
             <%= image_tag 'users/btn_create_account.png' %>
           </button>
         </div>

    <% end %>
  </div>
</div>
