<div class="modal fade" id="new_product_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="new_product_modal_dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times; &nbsp;</span></button>
          <span>&nbsp;</span>
      </div>
      <div class="modal-body">
        <%= render 'users/new_product_form' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/pics_modal' %>

<div class="modal fade" id="video-chat-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="disconnect()" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= render 'video_chat_body' %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="audio-chat-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" onclick="disconnect()" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <%= render 'audio_chat_body' %>
      </div>
    </div>
  </div>
</div>

<% provide(:title, @user.name) %>
<div class="row font_secundary_scolor">
  <div class="col-md-9 col-lg-9 col-xs-12 col-sm-12 " id="central_column">
    <div class="panel">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 bg-white padding_10top padding_10bottom">
            <div class="video">
                <%= image_tag 'users/stattus_video.png', alt: 'Video', class: 'img-responsive height_video' %>
            </div>
        </div>

        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12 bg-white padding_10top">
            <div id="profile">
              <%= render 'users/portrait_photo' %>
              <div id="photo">
                <%= render 'users/prof_photo' %>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">&nbsp;</div>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-20 margin-bottom-5 no_left_padding">
              <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <% if(@current_user.id != @user.id) %>
                    <div class="col-md-3 col-lg-3 col-xs-4 col-sm-4">
                      <a href="" onclick="start_conversation(<%=@current_user.id %>, <%= @user.id %>)" >
                        <%= image_tag 'users/icon_email.png', class: 'img-responsive'  %>
                      </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-4 col-sm-4">
                      <a href="" onclick="open_window('video')">
                        <%= image_tag 'users/icon_video.png', class: 'img-responsive'  %>
                      </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xs-4 col-sm-4">
                      <a href="" onclick= "open_window('audio')" data-remote="true">
                        <%= image_tag 'users/icon_call.png', class: 'img-responsive'  %>
                      </a>
                    </div>
                <% end %>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 font-medium">
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><%= image_tag 'users/divisor_blue.png' %></div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><a href="#" class="text-franja" >My Friends</a></div>
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2"><%= image_tag 'users/divisor_blue.png' %></div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><a href="#" class="text-franja">My World</a></div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 padding_10top follow_center">
                <%= render 'follow_form' if logged_in? %>
              </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
      <%= render 'user_options_profile' %>
    </div>

    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 margin-bottom-10">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <%= render :action => 'product_carts/index', :controller => 'products_car',
                   :template => 'product_carts/index' %>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 col-publicity bg-white padding-top padding_10bottom">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <%= image_tag 'publicity1.png', class: 'img-responsive' %>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <%= image_tag 'publicity2.jpg', class: 'img-responsive' %>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <%= image_tag 'publicity3.jpg', class: 'img-responsive' %>
        </div>

      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
      <% if @user.posts.any? %>
          <ol class='posts'>
            <%= render @posts %>
          </ol>
          <%= will_paginate @posts %>
      <% end %>
    </div>


  </div> <!-- end col-md-9 -->

  <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12  no_side_padding" id="sscate">
        <%= render 'shared/subsubcategory' %>
  </div>  <!-- end col-lg-3  -->

</div> <!-- end row  -->








<script>

    function progress_bar() {
        $('#progress_bar_modal').modal('show')
        var progress = setInterval(function () {
            var $bar = $('.bar');

            if ($bar.width() >= 400) {
                clearInterval(progress);
                $('.progress').removeClass('active');
            } else {
                $bar.width($bar.width() + 40);
            }
            $bar.text($bar.width() / 4 + "%");
        }, 800);
    }

    function remove_image(image_number) {
        var control = $("#file_field-" + image_number);
        control.val("");
        var preview = $("#img-preview-" + image_number);
        preview.attr("src", null);

    }
    ;

    function preview_image(image_number) {
        var preview = $("#img-preview-" + image_number);

        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            image_base64 = e.target.result;
            preview.attr("src", image_base64);
        };
        reader.readAsDataURL(file);
    }

    function preview_profile_img_R() {
        var preview = $("#profile_photo_preview");
        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            image_base64 = e.target.result;
            preview.attr("src", image_base64);
        };
        reader.readAsDataURL(file);
    }

    function preview_portrait_img_R() {
        var preview = $("#new_portrait_preview");
        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            image_base64 = e.target.result;
            preview.attr("src", image_base64);
        };
        reader.readAsDataURL(file);
    }



    function remove_preview_R() {
        var control = $("#file_profile_photo");
        control.val("");
        var preview = $("#profile_photo_preview");
        preview.attr("src", null);

    }

    function posted_preview_selected() {
        category_id = $(this).val()
        url = "/users/selected_pic?parent_category=#{category_id}"
        event.currentTarget.load(url)
    }




    $("#photo").on("mouseenter", "#prof_photo-current", function () {
        $('#update_prof_pic').css('opacity', '1')
    });

    $("#photo").on("mouseleave", "#prof_photo-current", function () {
        $('#update_prof_pic').css('opacity', '0')
    });


    $('#txt_area').on("mouseenter", "on_focus_text", function () {
        $('#hidden_label').css("display", "inline-block")
    });

</script>

