@import "variables";

/* Links */
a {
  cursor: pointer;
  color: $textDefault !important;
}

a:hover, a:focus {
  text-decoration: none;
  color: $textRecord !important;
}

/* Margins & Paddings */

.no_side_padding {
  padding-left: 0;
  padding-right: 0;
}

.no_left_padding {
  padding-left: 0;
}


.padding_25top {
  padding-top: 25px;
}

.padding_60top {
  padding-top: 60px;
}

.padding_10top {
  padding-top: 10px;
}
.padding_15top {
  padding-top: 15px;
}

.padding_35top {
  padding-top: 30px;
}

.padding_45top {
  padding-top: 45px;
}

.padding_10bottom{
  padding-bottom: 10px;
}

.padding_20bottom{
  padding-bottom: 20px;
}


/* Paddings */


.margin_25top {
  margin-top: 25px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-50 {
  margin: 50px;
}

.margin-none {
  margin: 0 !important;
}

.margin-left-none {
  margin-left: 0;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-n-1 {
  margin-left: -1px;
}

.margin-left-n-5 {
  margin-left: -5px;
}

.margin-left-n-10 {
  margin-left: -10px;
}

.margin-left-n-15 {
  margin-left: -15px;
}

.margin-left-n-20 {
  margin-left: -20px;
}

.margin-left-n-30 {
  margin-left: -30px;
}

.margin-left-n-40 {
  margin-left: -40px;
}

.margin-left-n-60 {
  margin-left: -60px;
}
.margin-left-n-90 {
  margin-left: -90px;
}

.margin-left-n-120 {
  margin-left: -120px;
}

.margin-top-none {
  margin-top: 0;
}

.margin-top-1 {
  margin-top: 1px;
}

.margin-top-5 {
  margin-top: 5px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-n-1 {
  margin-top: -1px;
}

.margin-top-n-5 {
  margin-top: -5px;
}

.margin-top-n-10 {
  margin-top: -10px;
}

.margin-top-n-15 {
  margin-top: -15px;
}

.margin-top-n-20 {
  margin-top: -20px;
}

.margin-top-n-30 {
  margin-top: -30px;
}

.margin-top-n-40 {
  margin-top: -40px;
}

.margin-right-none {
  margin-right: 0;
}

.margin-right-1 {
  margin-right: 1px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-right-10 {
  margin-right: 10px;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-right-20 {
  margin-right: 20px;
}

.margin-right-30 {
  margin-right: 30px;
}

.margin-right-40 {
  margin-right: 40px;
}

.margin-right-n-1 {
  margin-right: -1px;
}

.margin-right-n-5 {
  margin-right: -5px;
}

.margin-right-n-10 {
  margin-right: -10px;
}

.margin-right-n-15 {
  margin-right: -15px;
}

.margin-right-n-20 {
  margin-right: -20px;
}

.margin-right-n-30 {
  margin-right: -30px;
}

.margin-right-n-40 {
  margin-right: -40px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-bottom-1 {
  margin-bottom: 1px;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-n-1 {
  margin-bottom: -1px;
}
.margin-bottom-n-5 {
  margin-bottom: -5px;
}

.margin-bottom-n-10 {
  margin-bottom: -10px;
}

.margin-bottom-n-15 {
  margin-bottom: -15px;
}

.margin-bottom-n-20 {
  margin-bottom: -20px;
}

.margin-bottom-n-30 {
  margin-bottom: -30px;
}

.margin-bottom-n-40 {
  margin-bottom: -40px;
}

.space-15 {
  margin: 15px 0;
}

.space-20 {
  margin: 20px 0;
}

.space-25 {
  margin: 25px 0;
}

.space-30 {
  margin: 30px 0;
}

/* Circle */

.img-circle {
  border-radius: 50%;
}

.img-circle-profile {
  border-radius: 50%;
  height: 40px !important;
}



.img-circle-chat {
  border-radius: 50%;
  background: $bgAvatarChat;
  max-height: 35px;
  max-width: 35px;
}

.img-circle-chat-default {
  border-radius: 70%;
  background: $bgAvatarChat;
  min-height: 35px;
  min-width: 35px;
}

.img-circle-post {
  border-radius: 50%;
  background: $bgAvatarChat;
  min-height: 45px;
  min-width: 45px;
}

/* Text */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-white{
  color: #ffffff !important;
}

/* font size */

.font-small{
  font-size: 10px;
}

.font-small-sm{
  font-size: 11px;
}


.font-medium{
  font-size: 12px;
}

.font-large{
  font-size: 16px;
}

.font-xxlarge{
  font-size: 24px;
}


/* background */

.bg-gray{
  background: $bgDivisor;
}

.bg-gray-x{
  background: $bgFooterChat;
}

.bg-blue{
  background: $bgDefault;
}

.bg-white{
  background: #ffffff;
}

/* border */

.sn-border-color{
  border-color: transparent !important;
}

/* Inputs  */

.inline {
  display: inline-block !important;
}

.inline-flex {
  display: inline-flex !important;
}

.input-small {
  width: 120px;
}

.input-medium {
  width: 200px;
}

.input-large {
  width: 250px;
}


