@import "variables";

//button common

.btn-sttatus{
  background-repeat: no-repeat;
  display: block;
  border: 0px;
  background-color: transparent;
  height: 40px;
  margin-bottom: 10px;
}

//button generals

#btn-input{
  background-color: $bgDivisor !important;
  border: 0 !important;
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  box-shadow: inherit !important;
}

.btn-chat-search{
  background: $bgDivisor;
  border: 0;
}

#go_button {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  border: transparent;
  height: 50px !important;
  background: transparent;
  background-image: image-url('btn_go_text.png');
  background-repeat: no-repeat;
}

.search_button{
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
}

.login_button {
  border: transparent;
  background: transparent;
  height: 50px !important;
  background-image: image-url('btn_login_text.png');
  background-repeat: no-repeat;
}


.btn_post_blue{
  background-image: image-url('post/btn_post.png');
  background-repeat: no-repeat;
  height: 30px;
  border: 0px;
  background-color: transparent;
}

.btn_video{
  height: 30px;
  border: 0px;
  background-color: transparent;
}

#btn-comment {
  display: block;
  border: 0px;
  background-color: transparent;
  height: 40px;
  margin: 10px;
  padding-bottom: 10px;
}


.btn-default {
  background-color: inherit;
  border: none;
}


//button  products cars
.btn-add-cart{
  background-image: image-url('product_carts/btn_add_cart.png');
  background-repeat: no-repeat;
  display: block;
  border: 0px;
  background-color: transparent;
  height: 40px;
}

.btn-send{
  background-image: image-url('product_carts/btn_send.png');
  background-repeat: no-repeat;
  display: block;
  border: 0px;
  background-color: transparent;
  height: 40px !important;
}

.btn-cancel{
  background-image: image-url('product_carts/btn_cancel.png');
  background-repeat: no-repeat;
  display: block;
  border: 0px;
  background-color: transparent;
  height: 40px;
}