/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* PC and Tablets  */


@media only screen and (min-device-width: 320px) and  (max-device-width: 480px){

  ul.comment-menu li{
    font-size: 8px;
    img{
      height: 5%;
      width: 4%;
    }
  }

  .posts {
    li#li_comment {
      min-height: 180px;
    }
  }

  .text-franja{
    font-size: 9px;
    display: -moz-grid;
  }

  .bars-mini{
    top: -45px;
    right: -230px;
  }
}


@media only screen and (min-device-width: 980px) and  (max-device-width: 1280px){

 .panel-store{
   width: 120%;
 }

  .ul.token-input-list{
    width: 110%;
  }
}


@media screen and (max-width: 960px) {
  .panel-store{
    width: 120%;
  }

  .bars-mini{
    top: -45px;
    right: 40px;
  }
}


@media screen and (max-width: 640px) {

  .bars-mini{
    top: -45px;
    right: -480px;
  }
}

@media screen and (max-width: 480px) {
  .bars-mini{
    top: -45px;
    right: -210px;
  }
}

@media screen and (max-width: 320px) {
  .bars-mini{
    top: -45px;
    right: -170px;
  }

  .text-franja{
    font-size: 9px;
    display: -moz-grid;
  }
}