// Font
@import url('http://allfont.es/allfont.css?fonts=bookman-old-style-bold');
@import url('http://allfont.es/allfont.css?fonts=book-antiqua');
// Alternative PT SANS NARROW x MYRYAD PRO
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

$font-default: "ArialNarrow";
$font-principal: "Bookman Old Style";
$font-btn: "Book Antiqua";
$font-menu: "PT Sans Narrow";

// Basic Universal
$textDefault: #666666;
$bgborder: #0F6989;

// Basic Colors index
$textBtn: #494949;
$textTitle: #0082B3;
$textRecord: #0F6989;

// Basic Universal
$bgBody: #DBDBDB;
$bgWhite: #f1f1f1;

// Basic Custom
$bgDefault: #005BB7;
$bgHighlight: #005BB7;
$colDefault: #ecf0f1;
$colHover: #ecf0f1;
$menuButtons: #004B97;
$liFont: #000000;
$gray-medium-light: #eaeaea;
$green: #1ab394;


// Basic header
$bgHeaderBottom: #515151;
$colHoverBtn: #000000;
$bgmenuphover: #1A548D;
$bgmenuphoverd: #2F8DD4;

//Basic Post
$bgGray: #545454;


//Basic Conversations
$chat-box-size: 480px;
$bgAvatarChat: #866B92;
$bgChatCategory: #E1E1E1;
$bgFooterChat: #6A727F;
$bgDivisor: #e1e1e1;
$bgTitleCategory: #035693;
$bgScrollChat: #adadad;

