<% if @comments_product.length > 0 %>
    <div id="comment_carousel" class="carousel slide" data-ride="carousel" style="width: 100%; margin-left: 0.5%;" data-interval="false">

    <div class="carousel-inner" role="listbox">

    <div class="item active center slider-size">
      <div class="col-xs-6" style="margin-right: -15%;    margin-bottom: 7%; margin-left: 15%; margin-top: 2%">

        <div class="row">

          <div class="col-xs-6 " style="margin-right: -35%;">
            <%= link_to gravatar_for(@comments_product[0].user, size: 50), @comments_product[0].user %>
          </div>

          <div class="col-xs-6" style="margin-left: -2%;">
            <%= @comments_product[0].user.email %>
          </div>

          <br>

          <div class="col-xs-3 date_preview_comment">
            <h6 style="font-style: italic;"> <%= @comments_product[0].created_at.strftime("%F") %></h6>
          </div>
        </div>

        <br>

        <div class="row" style="margin-right: -10%;">
          <div class="col-xs-8 paragraph" style="margin-left: 15%; margin-top: -12%; ">
              <p style="text-align: left" >
                <strong><%= @comments_product[0].title %></strong>
                <%= @comments_product[0].comment %>
              </p>

          </div>
        </div>

      </div>

      <% if @comments_product[1] %>

      <div class="col-xs-6" style="margin-right: -20%;    margin-bottom: 7%; margin-left: 3%; margin-top: 2%">

        <div class="row">

          <div class="col-xs-6" style="margin-right: -35%;">
            <%= link_to gravatar_for(@comments_product[1].user, size: 50), @comments_product[1].user %>
          </div>

          <div class="col-xs-6" style="margin-left: -2%;">
            <%= @comments_product[1].user.email %>
          </div>
          <br>

          <div class="col-xs-3 date_preview_comment">
            <h6 style="font-style: italic;"> <%= @comments_product[1].created_at.strftime("%F") %></h6>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-xs-8 paragraph" style="margin-left: 15%;
                  margin-top: -12%;">

              <p style="text-align: left" >
                <strong><%= @comments_product[1].title %></strong>
                <%= @comments_product[1].comment %>
              </p>

          </div>
        </div>

      </div>
          <% end %>


    </div>
    <% for i in 0...@comments_product.length-3 %>
        <div class="item center slider-size">

          <% if @comments_product[i] %>

          <div class="row" style="margin-top: 2%; margin-right: 10%">
            <div class="col-xs-6" style=" margin-left: 10%;">

              <div class="row">

                <div class="col-xs-6">
                  <%= link_to gravatar_for(@comments_product[i].user, size: 50), @comments_product[i].user %>
                </div>

                <div class="col-xs-6" style="margin-left: -36%; margin-bottom: 30px;">
                  <%= @comments_product[i].user.email %>

                </div>
                <div class="col-xs-3 date_comment">
                  <h6 style="font-style: italic;"> <%= @comments_product[i].created_at.strftime("%F") %></h6>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-8 paragraph" style="margin-left: 15%;
                        margin-top: -12%;">


                    <p style="text-align: left">
                      <strong><%= @comments_product[i].title %></strong>
                      <%= @comments_product[i].comment %>
                    </p>

                </div>
              </div>
              <% end %>

            </div>


            <div class="col-xs-6" style="margin-right: -10%;">

              <div class="row">
                <% if @comments_product[i+1] %>

                <div class="col-xs-6">
                  <%= link_to gravatar_for(@comments_product[i+1].user, size: 50), @comments_product[i+1].user %>
                </div>

                <div class="col-xs-6" style="margin-left: -36%; margin-bottom: 30px;">
                  <%= @comments_product[i+1].user.email %>

                </div>
                <div class="col-xs-3 date_comment">
                  <h6 style="font-style: italic;"> <%= @comments_product[i+1].created_at.strftime("%F") %></h6>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-8 paragraph" style="margin-left: 15%;
                        margin-top: -12%;">


                    <p style="text-align: left">
                      <strong><%= @comments_product[i+1].title %></strong>
                      <%= @comments_product[i+1].comment %>
                    </p>

                </div>
              </div>
                  <% end %>

            </div>

          </div>



          <div class="row" style="margin-right: 5%;">
            <div class="col-xs-6" style=" margin-left: 10%; margin-top: 2%;">
              <% if @comments_product[i+2] %>
              <div class="row">

                <div class="col-xs-6">
                  <%= link_to gravatar_for(@comments_product[i+2].user, size: 50), @comments_product[i+2].user %>
                </div>

                <div class="col-xs-6" style="margin-left: -36%; margin-bottom: 30px;">
                  <%= @comments_product[i+2].user.email %>

                </div>
                <div class="col-xs-3 date_comment">
                  <h6 style="font-style: italic;"> <%= @comments_product[i+2].created_at.strftime("%F") %></h6>
                </div>
              </div>



              <div class="row">
                <div class="col-xs-8 paragraph" style="margin-left: 15%;
                        margin-top: -12%;">



                    <p style="text-align: left">
                      <strong><%= @comments_product[i+2].title %></strong>
                      <%= @comments_product[i+2].comment %>
                    </p>

                </div>
              </div>

              <% end %>

            </div>


            <div class="col-xs-6" style="margin-right: -10%; margin-top: 2%;">

              <% if @comments_product[i+3] %>

              <div class="row">

                <div class="col-xs-6">
                  <%= link_to gravatar_for(@comments_product[i+3].user, size: 50), @comments_product[i+3].user %>
                </div>

                <div class="col-xs-6" style="margin-left: -36%; margin-bottom: 30px;">
                  <%= @comments_product[i+3].user.email %>

                </div>
                <div class="col-xs-3 date_comment">
                  <h6 style="font-style: italic;"> <%= @comments_product[i+3].created_at.strftime("%F") %></h6>
                </div>
              </div>


              <div class="row">
                <div class="col-xs-8 paragraph" style="margin-left: 15%;
                        margin-top: -12%;">


                    <p style="text-align: left">
                      <strong><%= @comments_product[i+3].title %></strong>

                      <%= @comments_product[i+3].comment  %>

                    </p>

                </div>
              </div>
                  <% end %>

            </div>



          </div>


        </div>

    <% end %>
    </div>

    <div class="carousel_comment_control_div">

    <a class="right carousel-control" id="carousel-control-comment-right" href="#comment_carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" id="rigth_row_comment_carousel" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>




      <a class='left carousel-control' id='carousel-control-comment-left' href='#comment_carousel' role='button' data-slide='prev'>
        <span class='glyphicon glyphicon-chevron-left' id='left_row_comment_carousel' aria-hidden='true'></span>
        <span class='sr-only'>Previous</span>
      </a>



    </div>


    </div>

<% end %>



<script>
    /*var myDiv = $('.comment_paragraph');
    myDiv.text(myDiv.text().substring(0, 50))*/
    $("#comment_carousel").bind('slide.bs.carousel', function (e) {
        var carousel = $("#comment_carousel");
        carousel.animate({height: "630px"});
//        var slideFrom = $(this).find('.active').index();
        var slideTo = $(e.relatedTarget).index();
        if(slideTo == 0){
            carousel.animate({height: "250px"});
        }

     /*   $('.carousel_comment_control_div').append("<a class='left carousel-control' id='carousel-control-comment-left' href='#comment_carousel' role='button' data-slide='prev'>"+
        "<span class='glyphicon glyphicon-chevron-left' id='left_row_comment_carousel' aria-hidden='true'></span>"+
        "<span class='sr-only'>Previous</span></a>");
*/
        $('#carousel-control-comment-right').css({'top':'0%', 'height': '100%'});
        $('#carousel-control-comment-left').css({'top':'0%', 'height': '100%','display': 'inherit'});


    });

    $('#comment_carousel').on('slide',function(e){

    });


</script>









