<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
  <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2">
    <% if current_profile_avatar != [] %>
        <% if current_profile_avatar.picture.url.present? %>
            <%=  link_to image_tag(current_profile_avatar.picture.url, alt: 'profile photo', class: 'text-white img-circle img-responsive'), current_user %>
        <%else%>
            <%=  link_to image_tag('navbar_top/avatar_default.png', alt: 'profile photo',  class: 'img-circle img-responsive'), current_user  %>
        <%end%>
    <% else %>
        <%=  link_to image_tag('navbar_top/avatar_default.png', alt: 'profile photo',  class: 'img-circle img-responsive'), current_user  %>
    <% end %>
  </div>
  <div class="col-md-10 col-lg-10 col-xs-10 col-sm-10">
    <span class="user font_secundary_scolor font-medium">
      <%= link_to current_user.name, current_user %>
    </span>
    <p>
        <%= form_for([@post, @post.comments.build]) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <div class="field">
              <%= f.text_field :content, placeholder: "Comment...", required: true, class: 'content_user' %>
            </div>
            <button type="submit" id="btn-comment" class='btn-sttatus img-responsive'>
              <%= image_tag 'post/btn_comment.png' %>
            </button>
        <% end %>

    </p>

  </div>
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor">
    <ul class="comment-menu">
      <li> <%= image_tag 'post/footer_crown.png' %><span class="hidden-xs">Sttattus</span></li>
      <li><%= image_tag 'post/footer_coment.png' %><span class="hidden-xs">Comment</span></li>
      <li><%= image_tag 'post/footer_share.png' %><span class="hidden-xs">Share</span></li>
    </ul>
  </div>


</div>



