<% if @users %>
    <ul xmlns="http://www.w3.org/1999/html">
      <% @users.each_with_index do |connected_user, index| %>
          <li>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_title_chat font-medium">
              <!--<section class="user_info">-->
              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                  <span class="chat-img pull-right">
                    <% if profile_avatar_user(connected_user) != [] %>
                        <% if profile_avatar_user(connected_user).picture.url.present? %>
                            <%=  image_tag(profile_avatar_user(connected_user).picture.url, title: 'User Avatar', class: 'text-white img-circle-chat img-responsive') %>
                        <%else%>
                             <button class="btn img-circle-chat-default img-responsive" ></button>
                        <%end%>
                    <%else%>
                        <button class="btn img-circle-chat-default img-responsive" ></button>
                    <%end%>
                  <!---->
                  </span>
              </div>
              <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                  <div class="chat-body ">
                    <div class="header">
                      <strong class="pull-left ">
                        <%= connected_user.name %>
                      </strong>
                    </div>
                    <!--<p>-->
                      <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.-->
                    <!--</p>-->
                  </div>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                <button class="chat-button" onclick="start_conversation(<%= @current_user.id %>, <%= connected_user.id %>)">
                  <%= image_tag 'chat/arrow_chat.png', title: 'chat', class: 'img-responsive' %>
                </button>
              </div>
            </div> <!-- end div col -->
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
              <hr class="divisor_chat" />
            </div>
          </li>
      <% end %>
    </ul>
<% end %>


<script>


    function start_conversation(sid, rip) {


//        var sender_id = $(this).data('sid');
//        var recipient_id = $(this).data('rip');

        var sender_id = sid;
        var recipient_id = rip;

        $.post("/conversations", { sender_id: sender_id, recipient_id: recipient_id }, function (data) {
            chatBox.chatWith(data.conversation_id);
        });
    }
    ;


</script>