<section class="stats">
        <%= render 'shared/stats' %>
      </section>
<iframe width="427" height="255" src="https://www.youtube.com/embed/DKRlWLDWhGI" frameborder="0" allowfullscreen></iframe>
