<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" >
    <%= form_tag '/menu_bar/show_users', method: 'get', class: 'navbar-form sn-border-color nopadding' do %>
            <div class="input-group padding-top">
          <div class="col-md-3 col-lg-3 col-sm-2 col-xs-2">
            <%= image_tag('navbar_top/logo_crown.png', alt: 'Logo Sttattus', class: 'img-responsive') %>
          </div>
          <div class="col-md-7 col-lg-7 col-sm-5 col-xs-5  margin-left-n-30">
            <input type="text" id="demo-input-local-custom-formatters" class="form-control " name="blah">
          </div>
          <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
            <button  class="search_button" type="submit">
              <%= image_tag('navbar_top/btn_search_blue.png', alt: 'Search', class: 'img-responsive') %>
            </button>
          </div>
        </div>
    <% end %>
</div>
<div class="col-md-7 col-lg-7 col-sm-11 col-xs-11 padding_15top" >
    <ul class="nav navbar-nav ">
        <li>
          <% if current_profile_avatar != [] %>
              <% if current_profile_avatar.picture.url.present? %>
                <%=  link_to image_tag(current_profile_avatar.picture.url, alt: 'profile photo', class: 'text-white img-circle-profile img-responsive') + '  ' +
                                   current_user.name.split(' ').first,  current_user,  class: 'text-white text-center font_avatar' %>
              <%else%>
                 <%=  link_to image_tag('navbar_top/avatar_default.png', alt: 'profile photo',  class: 'img-circle-profile img-responsive') + '  ' +
                                       current_user.name.split(' ').first,  current_user, class: 'text-white text-center font_avatar'  %>
              <%end%>
          <% else %>
              <%=  link_to image_tag('navbar_top/avatar_default.png', alt: 'profile photo',  class: 'img-circle-profile img-responsive') + '  ' +
                                   current_user.name.split(' ').first,  current_user, class: 'text-white text-center font_avatar'  %>
          <% end %>
        </li>

        <li>
            <%= render 'shared/sub_categories' %>
        </li>

        <li>
          <%=  link_to image_tag('navbar_top/icon_mensage20.png', alt: 'mensage', class: 'text-white img-responsive'), root_path,
                       class: 'text-white text-center' %>
        </li>
        <li>
          <%=  link_to image_tag('navbar_top/icon_sin_notification20.png', alt: 'notification', class: 'text-white img-responsive'), root_path,
                       class: 'text-white text-center' %>
        </li>
        <li>
          <%=  link_to image_tag('navbar_top/icon_friends20.png', alt: 'friends', class: 'text-white img-responsive'), root_path,
                       class: 'text-white text-center' %>
        </li>
        <li>
          <%= link_to carts_index_path, class: 'text-white font_menu ' do %>
              <%= render 'layouts/cart_text' %>
          <% end %>
        </li>

    </ul> <!-- end ul-->
 </div>
<div class="col-md-1 col-lg-1 col-md-offset-0 col-lg-offset-0 col-sm-1 col-xs-1 padding_15top">
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown" id="arrow">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <div id="square-background">
          <%= image_tag('navbar_top/menu_bars.png', alt: 'menu bars',  class: 'img-responsive') %>
        </div>
      </a>
      <ul class="dropdown-menu most-right-ul font_secundary_scolor">
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <% if current_user.admin == true %>
            <li><%= link_to "Sales", carts_index_backend_path %></li>
            <li><%= link_to "Products", product_carts_index_backend_path %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to "Orders", carts_index_backend_path %></li>
            <li><%= link_to "Sales", sales_index_path %></li>
            <li><%= link_to "Products", product_carts_index_backend_path %></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% end %>
      </ul>
    </li>
  </ul> <!-- end ul right-->
</div>

<script>


    $("#demo-input-local-custom-formatters").tokenInput("/menu_bar/show_json", {
        propertyToSearch: "first_name",
        resultsFormatter: function (item) {
            return "<li>" +  "<div style='display: inline-block; padding-left: 10px;'><div class='full_name'>" + item.first_name + "</div><div class='email'>" + item.email + "</div></div></li>"

        },
        tokenFormatter: function (item) {
            return "<li><p>" + item.first_name + " <b style='color: red'>" + "</b></p></li>"
        }

    });
    $('#token-input-demo-input-local-custom-formatters').css({'color': '#565050'})
    $('#token-input-demo-input-local-custom-formatters').attr('name', 'user_to_search');



</script>