<div class="modal fade" id="profile_photo_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         <br />
      </div>
      <div class="modal-body">
        <%= render 'shared/profile_pics_form' %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="portrait_photo_modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" id="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <br />
      </div>
      <div class="modal-body">
        <%= render 'shared/protrait_pics_form' %>
      </div>
    </div>
  </div>
</div>

