<%= form_for(@post, html: {multipart: true}) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    <div class="field" id="txt_area" >
      <%= f.text_area :content, placeholder: "Upload your photos and videos",
                      id: "on_focus_text", required:true %>
    </div>

    <div class="field_wrapper">

      <div class="col-md-1 col-lg-1 col-sm-2 col-xs-2 hidden_div" id="hidden_div">
        <label class="btn glyphicon glyphicon-camera btn_camera"
                 id="hidden_label" data-toggle="tooltip" title="Add photo">
            <!--max uploaded facebook pics 470x470-->
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload', id:'my_uploader' %>
          </label>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
        <%= image_tag('post/btn_video.png', class:'btn_video img-responsive')%>
      </div>

     <!-- <div class="col-md-6 hidden_div" >
TODO video upload rdy but need more css
        <label class="btn glyphicon glyphicon-facetime-video"
                data-toggle="tooltip" title="Add photo">
          &lt;!&ndash;max uploaded facebook pics 470x470&ndash;&gt;
          <%= f.file_field :video, class: 'photo_upload', id:'video_uploader btn_video' %>
        </label>

      </div>
-->

      <div class="col-md-2 col-lg-2 col-sm-5 col-xs-5 col-md-offset-7 col-lg-offset-7  col-sm-offset-2 col-xs-offset-2" >
        <%= f.submit '', class: 'btn_post_blue text-justify', id: 'btn_post' %>
      </div>

    </div>

<% end %>

<script type="text/javascript">
    $('#post_picture').bind('change', function () {
        var size_in_megabytes = this.files[0].size / 1024 / 1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });

</script>