<% if @products_car.length > 0 %>
    <div class="panel panel-default panel-principal ">
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 margin-bottom-n-30">
        <div class="panel-title text-left font_title" >
            <%= image_tag('store/banner_store.png', class: 'panel-store img-responsive text-left' , title: @subcategory.name + ' Store') %>
            <span class="title_subcategory"> <%= @subcategory.name %> Store </span>

          <ul class="nav navbar-nav navbar-right bars-mini" >
            <li class="dropdown" id="arrow">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <div id="square-background">
                  <%= image_tag('navbar_top/menu_bars_mini.png', alt: 'menu bars',  class: 'img-responsive') %>
                </div>
              </a>
              <ul class="dropdown-menu most-right-ul font_secundary_scolor">
                <% if current_user.admin == true %>
                    <li><%= link_to "Sales", carts_index_backend_path %></li>
                    <li><%= link_to "Products", product_carts_index_backend_path %></li>
                <% else %>
                    <li><%= link_to "Orders", carts_index_backend_path %></li>
                    <li><%= link_to "Sales", sales_index_path %></li>
                    <li><%= link_to "Products", product_carts_index_backend_path %></li>
                <% end %>
              </ul>
            </li>
          </ul> <!-- end ul right-->
        </div>
      </div>
        <div id="product_index_carousel" class="carousel slide" data-ride="carousel" data-interval="false" >
            <div class="carousel-inner">
                <div class="item active">
                <!-- Carousel items -->
                <div class="row-fluid">
                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                        <%= link_to image_tag( "store/product1.png", class: 'img-responsive img-size-store', title: @products_car[0].name), :controller => 'product_carts',:action => 'show' , :id => @products_car[0].id  %>
                        <% if @products_car[0].video.file != nil %>
                            <p class="video_preview">
                                <a href="product_carts/show_video/?id=<%= 0 %>&subcategory_id=<%=@products_car[0].subcategory.id %>" class="btn btn-primary" data-remote="true">
                                    <span class="glyphicon glyphicon-facetime-video"></span>
                                </a>
                            </p>
                        <% end %>
                        <div class="caption bg-caption">
                            <div class="row">
                                <% if @products_car[0].price > 0 %>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                        <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'), {:controller => 'product_carts',:action => 'show' , :id => @products_car[0].id} %>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                                        <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[0].id} %>
                                    </div>
                                <% else %>
                                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  free_button">
                                        <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[0].id}  %>
                                    </div>
                                <% end %>
                            </div>
                        </div><!-- div  caption p0 -->
                    </div> <!-- div col-md-4  bg-thumbnail -->

                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                        <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store img-size-store', title: @products_car[1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id  %>
                        <% if @products_car[1].video.file != nil %>
                            <p class="video_preview">
                                <a href="product_carts/show_video/?id=<%= 1 %>&subcategory_id=<%=@products_car[1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                                    <span class="glyphicon glyphicon-facetime-video"></span>
                                </a>
                            </p>
                        <% end %>
                        <div class="caption bg-caption">
                          <div class="row">
                            <% if @products_car[1].price %>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                    <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                                </div>
                            <% else %>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                   <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                                </div>
                            <% end %>
                          </div>
                        </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->

                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[2].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id  %>
                      <% if @products_car[2].video.file != nil %>
                        <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= 1 %>&subcategory_id=<%=@products_car[2].subcategory.id %>" class="btn btn-primary" data-remote="true">
                                <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                        </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                            <% if @products_car[2].price %>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                    <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                                </div>
                            <% else %>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                    <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                                </div>
                            <% end %>
                        </div>
                      </div> <!-- end div caption p2 -->
                    </div> <!-- end col-md-4 -->
                  </div> <!-- end div col-md-12  -->

                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product1.png", class: 'img-responsive img-size-store', title: @products_car[1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id  %>
                      <% if @products_car[1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= 1 %>&subcategory_id=<%=@products_car[1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->

                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[2].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id  %>
                      <% if @products_car[2].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= 1 %>&subcategory_id=<%=@products_car[2].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[2].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p3 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store', title: @products_car[1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id  %>
                      <% if @products_car[1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= 1 %>&subcategory_id=<%=@products_car[1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id}  %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                  </div><!-- end div col-md-12  -->

                  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product1.png", class: 'img-responsive img-size-store', title: @products_car[1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id  %>
                      <% if @products_car[1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= 1 %>&subcategory_id=<%=@products_car[1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store', title: @products_car[2].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id  %>
                      <% if @products_car[2].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= 1 %>&subcategory_id=<%=@products_car[2].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[2].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id}  %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[2].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id  %>
                      <% if @products_car[2].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= 1 %>&subcategory_id=<%=@products_car[2].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[2].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[2].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                  </div><!-- end div col-md-12  -->

                </div><!--/row-fluid-->
            </div><!--div item active-->

            <div class="modal fade" id="video_modal_<%= @products_car.size-1 %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
               <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <% if @products_car[@products_car.size-1].video.present?  %>
                          <%= video_tag  @products_car[@products_car.size-1].video.file.filename, :size => "320x240", :controls => true %>
                      <% end %>
                    </div>
                  </div>
               </div>
            </div>
          <% for i in 0...@products_car.length-1 %>

              <div class="modal fade" id="video_modal_<%= i %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <% if @products_car[i].video.present?  %>
                          <%= video_tag  @products_car[i].video.file.filename, :size => "320x240", :controls => true %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <!-- two item -->
            <div class="item">
              <!-- Carousel items -->
              <div class="row-fluid">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product1.png", class: 'img-responsive img-size-store', title: @products_car[i].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i].id  %>
                      <% if @products_car[i].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i %>&subcategory_id=<%=@products_car[i].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i].id}  %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id}  %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+2 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption pi -->
                    </div><!-- end col-md-4 -->
                </div><!-- end div col-md-12  -->

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product1.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p4 -->
                    </div><!-- end col-md-4 -->
                </div><!-- end div col-md-12  -->

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p2 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product1.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                </div><!-- end div col-md-12  -->

              </div><!--/row-fluid-->
            </div><!--div item -->

            <!-- tree item -->
            <div class="item">
                <!-- Carousel items -->
                <div class="row-fluid">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                          <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[i].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i].id  %>
                          <% if @products_car[i].video.file != nil %>
                              <p class="video_preview">
                                <a href="product_carts/show_video/?id=<%= i %>&subcategory_id=<%=@products_car[i].subcategory.id %>" class="btn btn-primary" data-remote="true">
                                  <span class="glyphicon glyphicon-facetime-video"></span>
                                </a>
                              </p>
                          <% end %>
                          <div class="caption bg-caption">
                            <div class="row">
                              <% if @products_car[i].price %>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                    <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i].id} %>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i].id}  %>
                                  </div>
                              <% else %>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                    <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i].id} %>
                                  </div>
                              <% end %>
                            </div>
                          </div> <!-- end div caption p1 -->
                        </div><!-- end col-md-4 -->
                        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                          <%= link_to image_tag("store/product1.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                          <% if @products_car[i+1].video.file != nil %>
                              <p class="video_preview">
                                <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                                  <span class="glyphicon glyphicon-facetime-video"></span>
                                </a>
                              </p>
                          <% end %>
                          <div class="caption bg-caption">
                            <div class="row">
                              <% if @products_car[i+1].price %>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                    <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                                  </div>
                              <% else %>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                    <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                                  </div>
                              <% end %>
                            </div>
                          </div> <!-- end div caption p1 -->
                        </div><!-- end col-md-4 -->
                        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                          <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                          <% if @products_car[i+1].video.file != nil %>
                              <p class="video_preview">
                                <a href="product_carts/show_video/?id=<%= i+2 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                                  <span class="glyphicon glyphicon-facetime-video"></span>
                                </a>
                              </p>
                          <% end %>
                          <div class="caption bg-caption">
                            <div class="row">
                              <% if @products_car[i+1].price %>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                    <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                                  </div>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                                  </div>
                              <% else %>
                                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                    <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                                  </div>
                              <% end %>
                            </div>
                          </div> <!-- end div caption p1 -->
                        </div><!-- end col-md-4 -->
                    </div><!-- end div col-md-12  -->

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+2 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+3 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product1.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                </div><!-- end div col-md-12  -->

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product1.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product2.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+3 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                    <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 thumbnail bg-thumbnail">
                      <%= link_to image_tag("store/product3.png", class: 'img-responsive img-size-store', title: @products_car[i+1].name),:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id  %>
                      <% if @products_car[i+1].video.file != nil %>
                          <p class="video_preview">
                            <a href="product_carts/show_video/?id=<%= i+1 %>&subcategory_id=<%=@products_car[i+1].subcategory.id %>" class="btn btn-primary" data-remote="true">
                              <span class="glyphicon glyphicon-facetime-video"></span>
                            </a>
                          </p>
                      <% end %>
                      <div class="caption bg-caption">
                        <div class="row">
                          <% if @products_car[i+1].price %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 margin-right-n-10">
                                <%= link_to image_tag("store/btn_store_buy.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <%= link_to image_tag("store/btn_store_rent.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% else %>
                              <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 free_button">
                                <%= link_to image_tag("store/btn_store_free.png", class: 'img-responsive'),{:controller => 'product_carts',:action => 'show' , :id => @products_car[i+1].id} %>
                              </div>
                          <% end %>
                        </div>
                      </div> <!-- end div caption p1 -->
                    </div><!-- end col-md-4 -->
                </div><!-- end div col-md-12  -->
            </div><!--/row-fluid-->
        </div><!--div item -->

        <div class="item">
            <div class="row-fluid">
              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><br /><br /></div>
            </div>
        </div>

      <%end%>   <!-- end for-->
    </div><!-- end carousel inner-->

    <a class="right carousel-control img-responsive" id="carousel-control-product-right"  href="#product_index_carousel" role="button" data-slide="next">
      <%= image_tag 'store/arrow_right.png' %>
      <span class="left_carousel_control" id="rigth_row_product_carousel" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

     <a class="left carousel-control img-responsive" id="carousel-control-product-left"  href="#product_index_carousel" role="button" data-slide="prev">
       <%= image_tag 'store/arrow_left.png' %>
        <span class="" id="left_row_product_carousel" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
     </a>
  </div>
</div>
<% end %> <!-- end if -->
<br />
<br />
<br />
<br />
<br />