<div id="profile">
  <%= image_tag('rails.png', id: 'portrait') %>
  <div id="photo">
    <%= image_tag('mino.jpg', id: 'prof_photo') %>
  </div>
  <div class="col-md-2 p_icons">
    <a href="#" class=" btn-default btn-lg btn-block">
      <span class="glyphicon glyphicon-facetime-video"></span>
    </a>
  </div>
  <div class="col-md-2 p_icons">
    <a href="#" class="btn-default btn-lg btn-block">
      <span class="glyphicon glyphicon-earphone"></span>
    </a>
  </div>

  <div class="col-md-2 p_icons">
    <a href="#" class="btn-default btn-lg btn-block">
      <span class="glyphicon glyphicon-envelope"></span>
    </a>
  </div>
  <div class="col-md-2 p_icons">
    <a href="#" class="btn-default btn-block p_letters">
      About
    </a>
  </div>
  <div class="col-md-2 p_icons">
    <a href="#" class="btn-default btn-block p_letters">
      Photos
    </a>
  </div>
  <div class="col-md-2 p_icons">
    <a href="#" class="btn-default btn-block p_letters ">
      Friends
    </a>
  </div>
</div>