<div class="col-md-6">
<div class="sectionc">
               <div class="sectionc2_group">  
              <h4 style="background:#FFF;">Styles</h4>    
               <%= link_to image_tag( "user1.jpg", size: "15x15" ) + "Pop" %><br>
               <%= link_to image_tag( "user2.jpg", size: "15x15" ) + "Rock" %><br>
               <%= link_to image_tag( "user3.jpg", size: "15x15" ) + "Rap" %><br>
               <%= link_to image_tag( "user4.jpg", size: "15x15" ) + "Reggaeton" %><br>
               <%= link_to image_tag( "user5.jpg", size: "15x15" ) + "Jazz" %><br>
               <%= link_to image_tag( "user1.jpg", size: "15x15" ) + "Soul" %><br>                              
               <%= link_to image_tag( "user2.jpg", size: "15x15" ) + "Salsa" %><br> 
               </div>
               </div>  

<%= link_to image_tag( "publi1.jpg",  size: "165x150" ) %>

    <hr STYLE="border-width: 2px"  >

<%= link_to image_tag( "publi2.jpg",  size: "165x150" ) %>
  
      <hr STYLE="border-width: 2px"  >

<%= link_to image_tag( "publi3.jpg",  size: "165x150" ) %>
  
</div>

<div class="col-md-6">

 <aside class="sidebar fixed"> 
<!--       chat boostrap -->
 </aside>

</div>
