<div class="chat-container col-md-12 col-lg-12 col-xs-12 col-sm-12 no_side_padding" id="chat-principal">
  <div class="panel-heading font_title_chat text-center">Sttattus Chat</div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 bg-gray">
        <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
          <input id="btn-input" type="text" class="form-control input-s">
        </div> <!-- /col -->
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
          <button class="btn btn-default btn-chat-search">
            <%= image_tag 'chat/search_chat.png', title: 'Search Chat', class: 'img-responsive' %>
          </button>
        </div> <!-- col -->
      </div>
      <div class="panel-body col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <ul class="users">
              <% if @subcategory.name == 'Music' %>
                <% @ssfeed.each do |sscate| %>
                  <li class="sec-3lvl-cat">
                    <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">
                        <%= image_tag 'users/icon_music_default.png', class: 'img-responsive' %>
                    </div>
                    <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9">
                      <%= sscate.name %>
                    </div>
                  </li>
                <% end %>
              <% else %>
                <% @ssfeed.each do |sscate| %>
                  <li class="sec-3lvl-cat">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                        <button class="btn img-circle-chat-default img-responsive" ></button>
                    </div>
                    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                      <%= sscate.name %>
                    </div>
                  </li>
                <% end %>
              <% end %>

        </ul>
      </div> <!--end panel-body -->
      <%= render 'video_chat/footer_chat' %>
  </div>
</div>


