<!--<ul class="nav navbar-nav nav-justified">-->

  <li class="dropdown font_menu">
    <% if not current_page?(controller: 'static_pages', action: 'home') %>
        <%= link_to(image_tag('navbar_top/icon_music20.png', alt: 'music', class: 'img-responsive') + '  ' + current_user.subcategory.name, root_path) %>
    <% else %>
        <%= link_to(image_tag('navbar_top/icon_music20.png', alt: 'music', class: 'img-responsive') + '  ' + current_user.subcategory.name, controller: 'static_pages',
                    action: "home", subcategory_id: current_user.subcategory.id, remote: true)  %>
    <% end %>
  </li>

  <li class="dropdown font_menu">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
      <%= image_tag('navbar_top/icon_entertainment20.png', alt: 'entertainment', class: 'img-responsive')  %>
      <span class="hidden-sm hidden-xs"><%= @enter.name %></span>
    </a>
    <ul class="dropdown-menu pull-right" >
        <% @enter_subs.each do |subs| %>
            <% if not current_page?(controller: 'static_pages', action: 'home', class: 'img-responsive') %>
                <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id %></li>
            <% else %>
                <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id, remote: true %></li>
            <% end %>
        <% end %>
    </ul>
  </li>

  <li class="dropdown font_menu">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        <%= image_tag('navbar_top/icon_industry20.png', alt: 'industry', class: 'img-responsive') %>
      <span class="hidden-sm hidden-xs"><%= @indus.name %></span>
    </a>
    <ul class="dropdown-menu pull-right" >
      <% @indus_subs.each do |subs| %>
          <% if not current_page?(controller: 'static_pages', action: 'home') %>
              <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id %></li>
          <% else %>
              <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id, remote: true %></li>
          <% end %>
      <% end %>
    </ul>
  </li>

  <li class="dropdown font_menu">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        <%= image_tag('navbar_top/education202.png', alt: 'education', class: 'img-responsive') %>
        <span class="hidden-sm hidden-xs"><%= @edu.name %></span>
    </a>
    <ul class="dropdown-menu pull-right" >
      <% @edu_subs.each do |subs| %>
          <% if not current_page?(controller: 'static_pages', action: 'home') %>
              <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id %></li>
          <% else %>
              <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id, remote: true %></li>
          <% end %>
      <% end %>
    </ul>
  </li>

  <li class="dropdown font_menu">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        <%= image_tag('navbar_top/icon_heart20.png', alt: 'Hearth', class: 'img-responsive') %>
      <span class="hidden-sm hidden-xs"><%= @beau.name %></span>
    </a>
    <ul class="dropdown-menu pull-right" >
      <% @beau_subs.each do |subs| %>
          <% if not current_page?(controller: 'static_pages', action: 'home') %>
              <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id %></li>
          <% else %>
              <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id, remote: true %></li>
          <% end %>
      <% end %>
    </ul>
  </li>

  <li class="dropdown font_menu">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
        <%= image_tag('navbar_top/icon_foundation20.png', alt: 'foundation', class: 'img-responsive') %>
      <span class="hidden-sm hidden-xs"><%= @found.name %></span>
    </a>
    <ul class="dropdown-menu pull-right" >
      <% @found_subs.each do |subs| %>
          <% if not current_page?(controller: 'static_pages', action: 'home') %>
              <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id %></li>
          <% else %>
              <li><%= link_to subs.name, controller: "static_pages", action: "home", subcategory_id: subs.id, remote: true %></li>
          <% end %>
      <% end %>
    </ul>
  </li>


<!--</ul>-->