<div class="modal-body">
  <div class="row padding_top">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1">
      <form action="/carts/address" id="address" name="address" method="post" data-remote="true">

        <input type="hidden" name="id" value="address">
        <div class="form-group">
            <label for="firts_name">First Name</label>
            <input id="firts_name" placeholder="firts name" name="first_name" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input id="last_name" placeholder="last name" name="last_name" type="text" class="form-control"/>
        </div>
        <div class="form-group">
           <label for="street_address">Street address</label>
           <input id="street_address" placeholder="street address" name="street_address" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="zip_code">Zip code</label>
            <input id="zip_code" placeholder="zip code" name="zip_code" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="phone">Phone</label>
            <input id="phone" placeholder="phone" name="phone" type="text" class="form-control"/>
        </div>
        <button type="submit" class='btn-sttatus img-responsive'>
          <%= image_tag 'cars/btn_continue_form.png' %>
        </button>
      </form>
    </div>
    </div>
  </div>


