
<tr>
  <td>
    <h4><%= product_cart.name %></h4>
  </td>

  <%= form_for order_item, remote: true do |f| %>
      <td>

            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control input-small margin-bottom-20", min: 1 %>
            <%= f.hidden_field :product_cart_id, value: product_cart.id %>
            <button type="submit" class='btn-sttatus img-responsive'>
              <%= image_tag 'cars/btn_update.png' %>
            </button>

      </td>
      <td>
        <%= number_to_currency order_item.unit_price %>
      </td>
      <td>
        <h4 class="text-right"><%= number_to_currency order_item.total_price %></h4>
      </td>
      <td>
        <span class="pull-right">
            <%= link_to image_tag('cars/btn_delete.png', class: 'img-responsive'), order_item,
                        { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product_cart.name}' from your cart?" },
                          method: :delete, remote: true } %>
        </span>
      </td>

  <% end %>
</tr>

