
<div class="modal-body">
  <div class="row padding_top">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1">
      <form action="/carts/complete"  method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

        <input type="hidden" name="id" value="complete">
        <div class="form-group">
            <label for="subtotal">Subtotal</label>
            <input id="subtotal" readonly="true" name="subtotal" type="text" class="form-control" value="<%= @order_checkout.total %>"/>
        </div>
        <div class="form-group">
            <label for="shipping">Shipping </label>
            <input id="shipping" readonly="true" name="shipping" type="text" class="form-control" value="<%= @order_checkout.subtotal %>"/>
        </div>
        <div class="form-group">
            <label for="total">Total</label>
            <input id="total" readonly="true" name="total" type="text" class="form-control" value="<% @order_checkout.total %>"/>
        </div>

        <input type="submit" class="btn_continue_shopping img-responsive" value="" />
      </form>
    </div>
  </div>
</div>



