      <div class="modal-body">
        <div class="row padding_top">
          <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1">
            <form action="/carts/delivery"  method="post" data-remote="true">

              <input type="hidden" name="id" value="delivery">
              <div class="form-group">
                  <label for="delivery_company">Delivery company</label>
                  <select id="delivery_company" name="delivery_company" class="form-control">
                    <option value="UPS">UPS</option>
                    <option value="ZOOM">ZOOM</option>
                    <option value="DHL">DHL</option>
                  </select>
               </div>
              <div class="form-group">
                <label for="shipping">Shipping</label>
                <input id="shipping" placeholder="shipping price" name="shipping" type="text" class="form-control"/>
              </div>
              <input type="submit" class="btn_continue_shopping img-responsive" value="" />
            </form>
          </div>
        </div>
      </div>