<div id ="cart">
    <% @order_items.each do |order_item| %>
        <tr>
          <td><%= order_item.product_cart.name %></td>
          <td><%= number_to_currency order_item.product_cart.price %></td>
          <td><%= order_item.quantity %></td>
          <td><%= link_to 'Delete',{:action => 'delete', :id => order_item.id},:confirm => 'Are you sure?',:method => :delete %></td>
        </tr>
    <% end %>
</div>