<% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.created_at.strftime("%F") %></td>
      <td><%= order.user.email %></td>
      <td><%= order.order_status.name %></td>
      <td><%= order.total %></td>

    </tr>
<% end %>