<div class="modal-body">
  <div class="row padding_top">
    <div class="col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-10 col-sm-10 col-sm-offset-1 col-xs-offset-1">
      <form action="/carts/payment" method="post" data-remote="true">

        <input type="hidden" name="id" value="payment">
        <div class="form-group">
            <label for="x_card_num">Credit cart number</label>
            <input id="x_card_num"  name="x_card_num" value="4111111111111111" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="x_exp_date">Exp</label>
            <input id="x_exp_date"  name="x_exp_date" value="1117" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="x_card_code">CCV</label>
            <input id="x_card_code"  name="x_card_code" type="text" value="1120" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="x_first_name">First Name</label>
            <input id="x_first_name"  name="x_first_name" value="Jesus" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="x_last_name">Last Name</label>
            <input id="x_last_name"  name="x_last_name" value="Garcia" type="text" class="form-control"/>
        </div>
        <button type="submit" class='btn-sttatus img-responsive'>
          <%= image_tag 'cars/btn_pay.png' %>
        </button>
      </form>
    </div>
  </div>
</div>