<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor">
    <div class="col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10" >
        <span class="font-xxlarge " ><%= image_tag 'navbar_top/cars.png' %> Shopping Cart</span>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" >
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
          <div class="table-responsive">
            <table class="table  table-hover">
              <thead>
              <tr>
                <th> Product </th>
                <th> Quantity </th>
                <th> Unit Price </th>
                <th><span class="pull-right"> Total</span></th>
                <th></th>
              </tr>
              <tbody>
                <% @order_items.each do |order_item| %>
                    <%= render 'carts/cart_row', product_cart: order_item.product_cart, order_item: order_item, show_total: true %>
                <% end %>
              </tbody>
              </thead> <!-- end thead -->
            </table> <!-- end table -->
          </div> <!-- end table responsive -->
        </div> <!-- end col 12 -->
      </div> <!-- end row -->
    </div> <!-- end col 12 -->
</div>




