<div class="well bg-shopping_cart">
  <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor">
        <div class="col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10" >
          <span class="font-xxlarge ">Orders</span>
        </div>
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor ">
          <form action="/carts/filter" method="post" data-remote="true">
              <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="final_date">Email costumer</label>
                    <input id="starts_with" placeholder="email costumer" name="starts_with" type="text" class="form-control"/>
                  </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="initial_date">Initial date</label>
                    <input id="initial_date" placeholder="initial date" name="initial_date" type="date" class="form-control"/>
                  </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                  <div class="form-group">
                    <label for="final_date">Final date</label>
                    <input id="final_date" placeholder="final date" name="final_date" type="date" class="form-control"/>
                  </div>
                </div>

                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" >
                  <div class="form-group">
                    <label for="state">State</label>
                    <select id="order_status" name="order_status" class="form-control">
                        <option value="1">In Progress</option>
                        <option value="2">Placed</option>
                        <option value="3">Shipped</option>
                        <option value="4">Cancelled</option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 center">
                  <button type="submit" class='btn-sttatus img-responsive'>
                    <%= image_tag 'cars/btn_search.png' %>
                  </button>
                </div>
              </div>

            </form>
        </div> <!-- end col 12-->
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-20">
              <div class="row" >
                <div class="col-md-12 col-lg-12">
                  <div class="table-responsive">
                        <table class="table table-hover table-bordered table-striped">
                          <thead class="bg-blue text-white">
                              <tr>
                                <th>Order number</th>
                                <th>Date</th>
                                <th>Costumer</th>
                                <th>Order Status</th>
                                <th>Total</th>
                              </tr>
                          </thead>
                          <tbody class="order-index">
                            <%= render "order_row" %>
                          </tbody>
                        </table>
                        <%= will_paginate @orders %>
                </div> <!--end table responsive -->
              </div> <!-- end row -->
            </div>
          </div>
      </div> <!-- end row -->
</div> <!-- end col 12-->
</div><!-- end well -->

<script type="text/javascript">

    $('[data-behaviour~=datepicker]').datepicker({
        format: "yyyy/mm/dd"

    })
</script>