<div class="modal fade" id="checkout-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="font-xxlarge modal-title" id="myModalLabel">Address</span>
      </div>
       <%= render 'address_form' %>
    </div>
  </div>
</div>

<div class="modal fade" id="delivery-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="font-xxlarge modal-title" id="myModalLabel">Delivery</span>
      </div>
        <%= render 'delivery_form' %>
    </div>
  </div>
</div>


<div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="font-xxlarge modal-title" id="myModalLabel">Payment</span>
      </div>
      <%= render 'payment_form' %>
    </div>
  </div>
</div>


<div class="modal fade" id="complete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="font-xxlarge modal-title" id="myModalLabel">Payment</span>
      </div>
      <%= render 'complete_form' %>
    </div>
  </div>
</div>

<div class="well bg-shopping_cart">

   <%= render 'shopping_cart'  %>


  <div class="row">
    <div class ="col-md-6 col-lg-6 col-md-offset-2 col-lg-offset-2  col-sm-4 col-xs-4 col-sm-offset-2 col-xs-offset-2 ">
      <%=link_to image_tag('cars/btn_continue.png', class: 'img-responsive'),root_path  %>
    </div>

    <div class ="col-md-4 col-lg-4 col-sm-4 col-xs-4">
      <%=link_to image_tag('cars/btn_checkout14.png', class: 'img-responsive'),{:action => 'show',:id =>'address'},remote: true %>
    </div>
  </div>
</div> <!-- end  well -->











