<li id="li_post">
  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <div class="col-md-2 col-lg-2 col-xs-2 col-sm-2 margin-top-10">
      <% @post = post %>
      <% if profile_avatar_user(post.user) != [] %>
          <% if profile_avatar_user(post.user).picture.url.present? %>
              <%=  image_tag(profile_avatar_user(post.user).picture.url, title: 'User Avatar', class: ' text-center img-circle-post img-responsive') %>
          <%else%>
             <%= image_tag('navbar_top/avatar_default.png', title: 'User Avatar',  class: 'img-circle-profile img-responsive') %>
          <%end%>
      <%else%>
          <%= image_tag('navbar_top/avatar_default.png', title: 'User Avatar',  class: 'img-circle-profile img-responsive') %>
      <%end%>
    </div>
    <div class="col-md-10 col-lg-10 col-xs-12 col-sm-12">
      <span class="user font_secundary_scolor font-medium">
         <%= link_to post.user.name, post.user %>
      </span>
      <p class="font_secundary_scolor content_user">
        <%= post.content %>
      </p>
    </div>
  </div>

  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <div class="post_photo_div">
      <%= image_tag post.picture.url, class: 'photo_div' if post.picture? %>
    </div>
  </div>

  <span class="timestamp font-small text-right">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
    <% if not current_user.nil? %>

        <% if current_user?(post.user) || current_user.admin? %>

        <% link_to "| delete", post, method: :delete,
                    data: {confirm: "You sure?"}, class: '' %>
        <% end %>
    <% end %>

  </span>

    <hr>
    <aside>
      <%= render @post.comments %>
      <li id="li_comment">
        <%= render 'shared/comment_form' %>
      </li>
    </aside>
</li>
