<div id="product_table" class="container">
  <h1 class="center"> Products </h1>

  <div class="new-product">

    <div class="row">
      <% if @current_user.admin != true %>
          <div class="col-md-3">
            <%= link_to "New Product", new_product_cart_path, class: "btn btn-primary" %>
          </div>
      <% end %>

      <form action="/product_carts/filter" method="post" data-remote="true">
        <div class="col-md-3">
          <input id="starts_with" placeholder="name product" name="starts_with" type="text" class="form-control"/>

        </div>
        <div class="col-md-3">
          <input type="submit" class="btn btn-primary" value="Search">
        </div>
      </form>
    </div>
  </div>



  <br>

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    </thead>
    <tbody class="product-index">
    <%= render "content_product" %>
    </tbody>

  </table>
  <% if @products  %>
      <%= will_paginate @products %>
  <% end %>
</div>
