@import "style";


.bg-shopping_cart{
  background-color: White !important;
  border: 1px solid $bgborder !important;
  box-shadow: 1px 2px 4px 2px #ccc !important;
  border-bottom: 40px solid #FFF !important;
}

