@import "style";


.chat-container {
  display: block;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  #height: $chat-box-size;
  overflow-y: auto;
  overflow-x: hidden;
  background: #FFFFFF;
  width: $chat-box-size;
  #margin-left: 199px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  border:  1px solid $bgborder;
  overflow-y: hidden;
  overflow-x: hidden;

  ul {
    overflow-y: scroll;
    overflow-x: hidden;
    height: $chat-box-size;


    li {
      list-style-type: none;
    }
  }
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

#chat-principal::-webkit-scrollbar{
  width: 10px !important;
  background-color: #cccccc;
}

#chat-principal::-webkit-scrollbar-thumb{
  background-color: $bgTitleCategory;
  border-radius:10px;
}

#chat-principal::-webkit-scrollbar-thumb:hover{
  background-color: $bgFooterChat;
  border:1px solid #333333;
}

#chat-principal::-webkit-scrollbar-thumb:active{
  background-color: $bgTitleCategory;
  border:1px solid #333333;
}

.inner-div-chat {
  float: left;
  height: 30px;
}

#chat-status {
  width: 30px;
}

#chat-name {
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#chat-btn {
  width: 30%;
}

.chat-user-img{
    float: left;
    margin-right: 3px;
}

hr.divisor_chat{
  border: 0;
  border-top: 1px solid $bgDivisor !important;
}

.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}

.chat li.right .chat-body {
  margin-right: 60px;
}

.chat li .chat-body p {
  margin: 0;
  color: #777777;
}

.chat {
  margin-right: 5px;
}

.chat-button {
  border: 0px !important;
  background: transparent !important;
}



