@import "style";

/* universal */

body {
  background-color: $bgBody !important;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  color: $textDefault !important;
}

.center {
  text-align: center;
}

/* typography */

h2, h3, h4, h5, h6 {
  line-height: 1;
}

.dotknow {
  font-size: 1.4em;
  color: black !important;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

h1 {
  font-size: 1.8em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {

  }
}

h2 {
  font-size: 1.4em;
  color: black !important;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: gray;
    text-decoration: none;
  }
}

h8 {
  font-size: 1.8em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.form-inline {
  padding-top: 15px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Miseceellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {

  background-color: #A4CADD;

  section.user_info {

  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/*forms*/

input, textarea, select, .uneditable-input {

  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  margin: 1 !important;
  @include box_sizing;
}

input {

  #height: auto;
}

.form-control {
  border-radius: 8px !important;
}

#error_explanation {
  color: red;
  ul {
    list-style-type: none;
    color: red;
    margin: 0 0 30px 0;
  }

}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weigth: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.left_footer {
  position: relative;
  right: 0px;
  width: 250px;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    a {
      color: #000 !important;
      font-size: 12px;
    }
  }
}

.user_aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.sectionc2_group a {
  height: 18px;
  font-size: 18px;
  line-height: 26px;
  color: #666 !important;
  padding: 4px 8px;
}

.sectionc2_group {
  float: left;
  width: 100%;
  margin-top: 0px;
  border: solid #CCC 1px;
  background: #f1f3ff;
  padding-top: 0px;
}

.section_a_1 {
  width: 100%;
  margin-top: 17px;
  border: solid #FFF 8px;
  box-shadow: 0px 1px 2px 1px #DBDBDB;
}

.head_section {
  width: 100%;
  height: 25px;
  background: #ffffff;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.list_carousel {
  margin: 10px auto 10px 3px;
  width: 100%;
  height: 255px;
}


.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.list_carousel li {
  width: 145px;
  margin-right: 10px;
  padding: 0;
  display: block;
  float: left;
}

.list_carousel li.last {
  margin-right: 0px;
}

.sidebar {
  float: rigth;
}

.fixed {
  position: fixed;
  overflow-y: auto;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray;
    color: gray !important;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }

}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

//carousel

.carousel-controls {
  overflow: auto;
  position: relative;
  width: 20px;
  margin: 0 auto;
  top: 0;
}

.carousel-indicators {
  top: 0;
}


//carousel store

#left_row_product_carousel{
  margin-left: -50%;
  display: inline-block;
  position: absolute;
  top: 0%;
  width: 70px;
  height: 100%;
  overflow: hidden;
  z-index: 5;
  visibility: visible;
}

#rigth_row_product_carousel{
  margin-left: -50%;
  display: inline-block;
  position: absolute;
  top: 0%;
  width: 150%;
  height: 100%;
  overflow: hidden;
  z-index: 5;
  visibility: visible;
}

#carousel-control-product-right {
  background-repeat: no-repeat;
  height: 10%;
  top: 88%;
  left: 30%;
  right: 0;
  margin: 20%;
}

#carousel-control-product-left {
  background-repeat: no-repeat;
  height: 10%;
  top: 88%;
  left: 5%;
  right: 0%;
  margin: 20%
}


input, select, textarea {

  &.invalid {
    border-color: red !important;
    border-radius: 10px;
  }
}

#carousel-control-comment-right {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.17);
  color: #737373;
  width: 5%;
  height: 70%;
  top: 10%;
}

#carousel-control-comment-left {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.17);
  color: #737373;
  width: 5%;
  height: 70%;
  top: 10%;
  display: none;
}

.slider-size {
  height: 400px; /* This is your slider height */
}

.carousel-column-right {
  padding-left: 30px;
  padding-right: 70px;
  width: 50%;
}

.carousel-column-left {
  padding-right: 70px;
  padding-left: 30px;
  width: 50%;
}

.carousel-control.right, .carousel-control.left {
  background-image: none !important;
}


#rigth_row_product_carousel:before{
  content: " ";
  display: block;
  width: 100%;
  height: 100%;

}

#left_row_product_carousel:before{
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
}


.border_store {
  margin-top: 20%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

.border_button {
  border-left: 3px solid gray;
  border-right: 3px solid gray;
  border-top: 3px solid gray;
  border-bottom: 3px solid gray;
  width: 100%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}



#myCarousel {
  box-shadow: 3px 3px 2px 2px #D5DDE0;
  border: solid #FFF;

}

.caption {
  border: 0px;
  padding: 0px !important;
}

.bg-thumbnail, .bg-caption{
  background: transparent !important;
  margin-bottom: 0px !important;
}

ul#chat {
  list-style: none;
  padding: 0;
  width: 300px;
  height: 150px;
  border: solid 1px #777;
  margin: 5px 0;
  overflow: auto;
}

ul#chat li {
  margin: 2px 5px;
  padding: 0;
}

ul#chat li .created_at {
  float: right;
  color: #777;
  font-size: 11px;
  padding-left: 4px;
  padding-top: 2px;
}

.video-body{
  margin: auto;
  width: 60%;
  padding: 10px;
}

#new_product_modal_dialog{
  width: 900px;
}


#well_show_product{
  border: 1px solid $bgborder;
  box-shadow: 1px 2px 4px 2px #ccc;
  background-color: #FFF;
  border-bottom: 40px solid #FFF;
}

.bx-wrapper, .bx-viewport {
  width: 800px !important; //provide height of slider
}


.date_comment{
  margin-right: 45%;
  margin-left: 14%;
  margin-bottom: 9%;
  margin-top: -9%;
}

.date_preview_comment{
  margin-right: 45%;
  margin-left: -2%;
  margin-bottom: 7%;
  margin-top: -2%;

}

.border_gray{
  border: solid #FFF 8px;
  box-shadow: 1px 2px 4px 2px $bgWhite;
  background-color: #FFF;

}

.main_img_border{
  border: solid #FFF 8px;
  box-shadow: 1px 2px 4px 2px #ccc;
  background-color: #ffffff;
}


.paragraph{
  margin-right: -60%;
  word-wrap: break-word;
  font-size: 12px;
  line-height: 18px;
  max-height: 308px;
  overflow: hidden;
  max-height: 308px;
}

.video_preview{
  margin-bottom: 7%;
  width: 2%;
  margin-top: -32%;
  margin-left: 70%;
}


.free_button{
  margin-left: 20%;
}

#well_image_product{
  border: solid #FFF 8px;
  box-shadow: 1px 2px 4px 2px #ccc;
  background-color: #FFF;
  border-bottom: solid #FFF 40px;
  height: 195px;
  width: 120%;
  margin-left: -10%;
}


.product_img_show{
  width: 120%;
  height: 165%;
}


/* fonts */

.font_title{
  font-family: $font-principal !important;
  font-weight: bolder;
  color: #ffffff !important;
}

.img-size-store{
  max-width: 200px;
  max-height: 250px;
}

.font_title_chat{
  font-family: $font-menu !important;
  font-weight: bolder;
  color: $textBtn !important;
}

.font_secundary{
  font-family: $font-menu !important;
  font-weight: bolder;
  color: #ffffff !important;
}

.font_secundary_scolor{
  font-family: $font-menu !important;
  font-weight: bolder;
}

.font_principal_scolor{
  font-family: $font-principal !important;
  font-weight: bolder;
}


.pagination{
  font-size: 10px;
  margin: 10px 0 !important;
  > .active > a{
    color: #ffffff !important;
    background-color: $bgTitleCategory !important;
  }
}


.wizard > .steps .current a{
  color: #ffffff !important;
  font-weight: bold;
}

.wizard > .steps .number {
  font-size: 1em !important;
}


.wizard > .actions a{
  color: #ffffff !important;
  font-weight: bold;
}


.col-publicidad{
  border: 1px solid $bgborder;
  box-shadow: 1px 2px 4px 2px #ccc;
  background-color: #FFF;
  border-bottom: 40px solid #FFF;
}

.col-banner-profile, .col-publicity{
  border: 1px solid $bgborder;
  box-shadow: 1px 2px 4px 2px #ccc;
  background-color: #FFF;
}



.alert-danger {
  background-color: transparent !important;
  border-color: transparent !important;
  padding: 0px !important;
}


.alert-success {
  background-color: $green !important;
  border-color: transparent !important;
  color: #e1ede1 !important;
}

//submenus

.dropdown ul.dropdown-menu::before {
  content: "";
  border-bottom: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  right: 16px;
  z-index: 10;
}

//submenu mini store

.bars-mini{
  position: relative;
  top: -40px;
  right: 15px;
  z-index: 100;
}