@import "style";


.navbar-toggle {
  #border-color: $bgHighlight;
  &:hover, &:focus {
    background-color: $bgHighlight;
  }
  .icon-bar {
    background-color: $colDefault;
  }
}

#header_top {
  background-color: transparent;

  .navbar-nav {
    > li {
      &:hover {
        border: 0;
        a {
          color: $colHoverBtn;
        }
        ul {
          display: block;
          a {
            font-family: $font-principal !important;
            font-size: 11px;
            font-weight: bolder;
            color: #FFFFFF;

            &:hover {
              color: #ffffff !important;
            }

          }
        }

      }

      > a {
        font-weight: bold;
        font-size: 11px;
        font-family: $font-menu !important;
        color: #ffffff !important;
      }
    }

    #arrow {
      background: $bgHighlight;
    }
    .active {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;
      }
    }
    .open {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;
      }
    }
    > .dropdown {
      > a {
        padding-left: 0px !important;
        padding-right: 0px !important;

        &:hover, &:focus {
          .caret {
            color: $colHoverBtn;
          }
        }
      }
    }

  }

}


#header_top .navbar-nav > li:hover a {
  color: #ffffff !important;
}


.most-right-ul {
  margin-left: -52px;
  width: 100px;
  height: auto;
}

#square-background {

  &:hover {
    background: transparent;
  }
}

ul .ul-2-col {

  padding: 0;

  #li_img {
    float: left;
    display: block;
    width: 20%;
    padding-top: 26px;
    img {
      position: fixed;
    }
  }
  #li_ul {
    float: left;
    display: block;
    width: 80%;
  }

}

ul .ul-3-col {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  -ms-column-count: 3;
  padding: 10px;
  font-size: 12px;
}

*::-webkit-scrollbar {
  width: 12px;

}

*::-moz-scrollbar {
  width: 12px;

}

*::-webkit-scrollbar-track {
  #background: rgba(255, 255, 255, 0.4);
}

*::-moz-scrollbar-track {
  #background: rgba(255, 255, 255, 0.4);
}


*::-webkit-scrollbar-thumb {
  #-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgba(200, 200, 200, 0.4);
}

*::-moz-scrollbar-thumb {
  #-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgba(200, 200, 200, 0.4);
}

.pane-list {
  overflow-y: auto;
  overflow-x: hidden;
}

.navbar-default .navbar-nav > li > a {
  color: $colDefault;
}

//this 2 rules go together

.navbar-default .navbar-nav > li > .blue_buttons {
  color: $menuButtons;
}


.main-header{
  background-image: image-url('banner_principal.png');
  background-repeat: no-repeat;
}

.navbar-default{
  background-color: $bgBody !important;
}


.padding-top {
  padding-top: 15px !important;
}

.nopadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.input-group {
  width: 90% !important;
}



.navbar-nav.nav-justified > li {
  float: none;
}

.navbar-nav > li > a {
  line-height: 23px;
}

#ul_heal_beau {
  margin-left: -81px;
}

#ul_found {
  margin-left: -183px;
}


.dropdown {
  > a{
    &:hover, &:focus, &:visited, .open > a:focus{
      background: transparent !important;
    }
  }

}

.navbar-nav > li > .open{
  background: transparent !important;
  background-color: transparent !important;
}

.nav > li > a {
  padding: 8px 10px !important;
}

.navbar-default .navbar-nav > li > a{
  color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover, a:focus{
  color: #000000 !important;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 20px !important;
}

//fonts
.font_avatar{
  font-family: $font-principal !important;
  font-size: 10px;
  font-weight: bolder;
}

.font_menu{
  font-family: $font-menu !important;
  font-size: 11px;
  font-weight: bolder;
}