@import "style";

body {
  color: #000000;
}

h1 {
  color: #000000;
}

h2 {
  color: rgb(255,0,0);
}

td {
  color: #000000;

}

table {
  color:#000000;

}

.test-color:link{ color: #000000 !important; }
.test-color:visited{ color: #000000 !important; }
.test-color:hover{ color: #000000 !important; }
.test-color:active{ color: #000000 !important; }


.a_blanco {
  color: #FFFFFF !important;
  font-size: 11px;
  font-weight: 600;
  font-family: $font-principal;
  text-transform: capitalize;
}


.head_font {
  font-size: 1.8em;
  color: white;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.new_user_index{
  color: #FFFFFF !important;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  text-align: right;
}