@import "style";

.posts {
  list-style: none;
  padding: 0;
  word-wrap: break-word;
  li {
    padding: 5px 5px;
    background-color: #FFF;
    border: 1px solid $bgborder;
    /* x, y, blur, spread, color*/
    box-shadow: 1px 2px 4px 2px #ccc;
    margin-bottom: 20px;
    border-bottom: 0;
    #li_comment {
      box-shadow: inherit;
      margin-bottom: 0px;
      border: 0;
      background-color: #ffffff !important;
      margin-right: -2px;
      margin-left: -2px;
      word-wrap: break-word;
      min-height: 165px;
      a {

        img{

          margin-left: 10px;

        }


      }
    }

    hr {
      border-top: 1px solid #A4CADD;
    }

  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }

  }

  .comment {
    display: block;
  }



  .timestamp {
    color: gray;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin: right;
    margin-top: 5px;
  }
}

.photo_upload {
  display: none !important;
}

.field {
  overflow: hidden;
  height: auto;
}

.field_wrapper {

  background: lightseagreen;

}

.post_form_wrapper {
  border: 1px solid $bgborder;
  box-shadow: 1px 2px 4px 2px #ccc;
  background-color: #FFF;
  padding-bottom: 20px;
  textarea {
    height: auto;
    margin-bottom: 15px;
    margin-top: 20px;
    border: 1px solid $bgborder;
    border-radius: 4px;
  }
}

section {
  overflow: inherit;
  padding-top: 2px;
}

textarea {
  resize: vertical;
}

#hidden_label {
  display: none;
  data-toggle: tooltip;
  title: "Hooray!";
}



.photo_div {
  width: 100%;
  height: 100%;
}

.post_photo_div {

}

form {

  .field  {
    margin-right: 10px;
  }

}


.glyphicon{
  font-size: 30px !important;
  color: $bgGray !important;
  margin-top: -12px !important;
}


.content_user{
  border: 1px solid $bgborder;
  border-radius: 4px;
  background: $bgChatCategory;
  padding: 10px;
}

ul.comment-menu{
  display:inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  li {
    display: inline !important;
    text-decoration: none;
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: none;
    padding: 5px 20px 20px 20px !important;
  }
}