@import "style";


//carousel slider
#product_gallery_carousel{
  background-color: transparent;
}

.product_gallery_img{
  border: 8px solid #FFF;
  box-shadow: 1px 2px 4px 2px #ccc;
  background-color: #FFF;
}


#carousel-control-gallery-right{
  background-color: transparent;
  border: 0;
  width: 5%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.5) 100%);
  height: 50%;
  top: 12%;
}

#carousel-control-gallery-left{
  background-color: transparent;
  border: 0;
  height: 70%;
  top: 10%;
  width: 5%;
  display: none;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.5) 100%);
}


// Universal

.p-word-wrap{
  word-wrap: break-word;
}

.border_product_show {
  background-color: transparent !important;
  border: 0px !important;
  border-radius: 0px !important;
}
