
@import "style";

//product carousel
.panel-store {
  border-radius: 10px !important;
  background-repeat: no-repeat;
  background-color: transparent !important;
  height: 40px !important;
}

.panel-principal{
  background-color: #ffffff !important;
  border: 1px solid $bgborder !important;
}

.title_subcategory{
  position: absolute;
  top: 5px;
  left: 50px;
}

