@import "style";

.text-login{
  font-family: $font-principal;
  font-size: 12px !important;
}

.text-remember{
  font-family: $font-principal;
  font-size: 9px !important;
  font-weight: bold;
  color: $textRecord;
}

.text-forgot{
  font-family: $font-principal;
  font-size: 11px !important;
}



