* {
  margin: 0;
  padding: 0;
}


#left_column {

  padding-left: 50px;

}

#central_column {

  word-wrap: break-word;

}



.row {
  .col-md-4 {
    .col-md-5 {

      padding-right: 12px;

      ul, .users {
        border: solid #FFF 4px;

        overflow-y: scroll;
        overflow-x: hidden;
        height: 363px;
        li {
          padding-top: 4px;
          padding-bottom: 4px;
          padding-left: 2px;
          font-size: 16px;
          line-height: 26px;
          color: #666;
          &:hover {
            background-color: #EFEFEF;
          }

        }
      }
    }
  }
}


#sec-3lvl-cat {
  height: 12px;
  font-size: 18px;
  line-height: 26px;
  color: #666;

}

