@import "style";

#user_state_code_wrapper {
  height: 80px;
}

.black_font {
  color: gray;
}

.head_font_fuentes {
  color: white;
  font-size: 1.0em;
}

.p_letters {
  padding: 12px 4px;
}

#prof_photo-current {
  width: 100px;
  height: 100px;
  border-radius:50%;
  margin-top: -160px;
  border: 1px solid #f1f3ff;
  margin-left: 20px;
  margin-bottom: 0px;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;

  &:hover {
    border: 45px solid rgba(0, 0, 0, 0.7);
  }

}


#submit-prof-photo {
  width: 33%;
  margin-left: 18%;

}


.new_user {
  div {

    select {

      width: 80%;
      margin-left: 35px;

      div {
        margin-top: 15px;
      }

    }

  }

  #date {
    width: auto;
    border-radius: 4px;
  }
}



#header_modal_prof {

  #position: fixed;
}

.body_modal_prof {
  overflow: scroll;
  overflow-x: hidden;
  height: 220px;
}

.user_pics_modal {

  border: solid #777777 1px;
  margin-top: 18px;
  height: 101px;
  width: 150px;

  &:hover {
    border: 4px solid #a0ffa0;
  }

}

.no-side-margin {

  margin-left: 0;
  margin-right: 0;
}

#modal-dialog {

  width: 780px;
  float: inherit;
}

.div-txt-center {
  text-align: center
}

.txt-center {
  display: inline-block;
}

.second-effect .mask {
  opacity: 0;
  overflow: visible;
  border: 0px solid rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

.second-effect a.info {
  position: relative;
  top: -10px;
  opacity: 0;
  transform: scale(0, 0);
  transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}

.second-effect:hover .mask {
  opacity: 1;
  border: 100px solid rgba(0, 0, 0, 0.7);
  border-radius: 75px;
}

.second-effect:hover a.info {
  opacity: 1;
  transform: scale(1, 1);
  transition-delay: 0.3s;
}

.view {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  margin: 10px;
  float: left;
  border: 5px solid #ffffff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 0px 0px 5px #aaaaaa;
  cursor: default;
}

.view .mask, .view .content {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.view img {
  display: block;
  position: relative;
}

.view a.info:hover {
//  background: url(../img/link.png) center no-repeat;
  display: inline-block;
  text-decoration: none;
  padding: 0;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  font-family: "Glyphicons Halflings";
  content: "\e046";
}

.hidden{

  display: none;

}

.height_default{
  height: 200px !important;
  width: 120% !important;
}

.height_video{
  height: 240px !important;
}

#change_portrait{
  margin-top: -390px;
  margin-left: 20px;
}

#change_photo{
  margin-top: -25px;
  margin-left: 55px;
}

.divisor_blue{
  content: "|";
  margin-left: 12px;
  border-left: 1px solid $bgborder;
  width: 1px;
  display: inline;
  height: 100%;
}


.follow_center{
  left: 40%
}

