<% if @product_car.price >0 %>
    <%= form_for @order_item, remote: true do |f| %>
        <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
          <div class="form-group">
            <label for="quantify" >Quantify: </label>
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_cart_id, value: @product_car.id %>
          </div>
        </div>
         <%= f.submit "", :controller =>'order_items', :action =>'create', class: "btn-add-cart" %>

    <% end %>
<% end %>

<% if @product_car.price == 0 %>
    <%= link_to "Download", "#{@product_car.file_product}", class: 'btn btn-success', style: 'width: 80%;' %>
<% end %>