<div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <% if current_profile_avatar != [] %>
            <% if current_profile_avatar.picture.url.present? %>
                <%=   image_tag(current_profile_avatar.picture.url, alt: 'profile photo', class: 'text-white img-circle-profile img-responsive')  %>
            <%else%>
                <%=  image_tag('navbar_top/avatar_default.png', alt: 'profile photo',  class: 'img-circle-profile img-responsive')  %>
            <%end%>
        <% else %>
            <%=  image_tag('navbar_top/avatar_default.png', alt: 'profile photo',  class: 'img-circle-profile img-responsive') %>
        <% end %>
        <h4 class="modal-title" id="myModalLabel"> Comment's <%= @current_user.name %></h4>
      </div>
      <div class="modal-body">
        <%= form_for @comment_product , remote: true do |f| %>
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <%= image_tag "http://991.com/gallery_180x180/Shakira-Te-Dejo-Madrid-216018-991.jpg", class: 'img-responsive' %>
              </div>
              <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <%= f.hidden_field :id,  :value => @product_car.id %>
                <div class="form-group">
                  <%= f.label :title %>
                  <%= f.text_field :title , class: 'form-control'  %>
                </div>
                <div class="form-group">
                  <%= f.label :comment %>
                  <%= f.text_area :comment, class: "form-control text-area-comment" ,cols: 20, rows: 7 %>
                </div>
              </div>
            </div> <!-- end row -->

            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <%= link_to "", "#", class: "btn-cancel", data: {dismiss: "modal"} %>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <%= f.submit "", class: "btn-send img-responsive" %>
              </div>
            </div> <!-- end row -->
        </div> <!-- end modal body -->

        <% end %>
      </div> <!-- end modal content -->
  </div> <!-- end modal dialog -->
</div> <!-- end modal-->