<% if @products %>
    <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.name, :controller => 'product_carts',:action => 'show' , :id => product.id %></td>
          <td><%= number_to_currency product.price %></td>
          <td><%= check_box_tag :active,"active", product.active, options ={:disabled => 'true'} %></td>
          <td><%= link_to image_tag('cars/btn_edit.png', class: 'img-responsive'), edit_product_cart_path(product)  %></td>
          <td><%= link_to image_tag('cars/btn_delete.png', class: 'img-responsive'), product, { data: { confirm: "Are you sure you wish to delete the product '#{product.name}' from your cart?" },:method => :delete, remote: true } %></td>
        </tr>
    <% end %>
<% end %>