
<% @user_products.each do |product| %>

    <div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12  margin-top-5">
        <h4 class="font_secundary_scolor"><%= product.name %></h4>
    </div>
    <div class="col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
        <%= image_tag "store/product2.png", class: 'border_gray img-responsive'%>
    </div>

<% end %>
