<% for i in 0...@images.length %>
    <td>
      <input name="utf8" type="hidden" value="✓">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

          <label class="btn glyphicon glyphicon-camera"  data-toggle="tooltip" title="Add photo">
            <%= file_field_tag :picture_product,:multiple => true, accept: 'image/jpeg,image/gif,image/png',class: 'photo_upload' ,id: "file_field-#{i}" %>

            <%= content_tag(:div, tag(:img, {id: "img-preview-#{i}" ,height: "80",width: "150"}), id: "upload-preview-#{i}")%>

          </label>

    </td>
<% end %>


<script>
    function remove_image(){
        var preview = $("#img-preview-"+0);

        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function(e){
            image_base64 = null
            preview.attr("src", image_base64);
        };
        reader.readAsDataURL(null);

    };
</script>