
<div id="product_gallery_carousel" class="carousel slide" data-ride="carousel" data-interval="false">
  <div class="panel-body">
    <div class="carousel-inner" role="listbox">

        <div class="item active" id="product_gallery_preview">


                <% if @product_car.video.file != nil %>

                    <div  id="div_video">
                      <%= video_tag @product_car.video.file.filename, class: 'product_gallery_img img-responsive', :controls => true, id: 'video_preview' %>
                    </div>
                <% end %>

                <% if @product_car.product_images[0] %>

                    <div id="div_preview_img">
                      <%= image_tag @product_car.product_images[0].picture_product, id: 'preview_img', class:'product_gallery_img img-responsive' %>
                    </div>

                <% end %>


        </div> <!-- end item -->



    <% @product_car.product_images.each do |product_image| %>
        <div class="item center ">

          <div class="row">

            <%= image_tag product_image.picture_product, id: 'music_img', class:'product_gallery_img img-responsive'  %>

          </div>

        </div>
    <% end %>


  </div> <!-- end carousel inner -->

      <div class="carousel_control_div">
        <a class="right carousel-control" id="carousel-control-gallery-right" href="#product_gallery_carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" id="rigth_row_gallery_carousel" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        <a class='left carousel-control' id='carousel-control-gallery-left' href='#product_gallery_carousel' role='button' data-slide='prev'>
             <span class='glyphicon glyphicon-chevron-left' id='left_row_gallery_carousel' aria-hidden='true'></span>
            <span class='sr-only'>Previous</span>
        </a>


      </div> <!-- end carousel control -->
  </div> <!-- end panel -->
</div> <!-- end  id product_gallery  -->


<script>
    $("#product_gallery_carousel").bind('slide.bs.carousel', function (e) {
//        $('#div_preview_img').remove();

        var carousel = $("#product_gallery_carousel");
        var slideTo = $(e.relatedTarget).index();

        if (slideTo == 1) {
            carousel.animate({height: "100%"});
            /*$('#music_img').animate({height: "450px"});
            $('#music_img2').animate({height: "450px"});*/
            $('#carousel-control-gallery-right').css({'top':'0%', 'height': '100%'});
            $('#carousel-control-gallery-left').css({'top':'0%','height': '100%','display': 'inherit'})

            $('.carousel_control_div').append("");
            return;
        }

        if (slideTo == 0) {

            $('#carousel-control-gallery-left').css({'display': 'none'})
            carousel.animate({height: "100%"});
            return;

        }


//        $('#preview_img').remove();

//        $('#video_preview').animate({height: "450px", width: "290%"});
//        $('#div_video').css({'margin-left': '5%'});


    });

</script>









