<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <h4>Reviews</h4>
</div>

<div class="col-md-8 col-lg-8 col-sm-10 col-xs-10 col-sm-offset-2 col-xs-offset-2 col-md-offset-4 col-lg-offset-4">
    <%= link_to image_tag('product_carts/btn_write_comment.png', class:'img-responsive') ,{:controller => 'comment_products', :action => 'new', :id => @product_car.id } , remote: true %>
</div>

<div id="product-comment" class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
  <%= render 'shared/comment_row'  %>
</div>