
<div class="well bg-shopping_cart">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor">
      <div class="col-md-10 col-lg-10 col-md-offset-0 col-lg-offset-0 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10" >
        <span class="font-xxlarge ">Edit Product <strong><%= @product.name %></strong></span>
      </div> <!-- end col 10-->
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor ">
        <%= form_for(@product, html: {multipart: true}) do |f| %>
            <div class="row">
              <div class="col-md-8 col-lg-8 col-md-offset-0 col-sm-12 col-xs-12 margin-bottom-20">
                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                <div class="form-group">
                  <div class="col-md-2">
                    <%= f.label :active, class: 'inline' %>
                  </div>
                  <div class="col-md-1">
                   <%= f.check_box :active, class: 'form-control' %></div>
                  </div>
              </div>
                <% if @product.type_product == 'physical' %>
                    <div class="form-group">
                        <%= f.label :price %>
                        <%= f.text_field :price, class: 'form-control' %>
                    </div>

                    <div class='col-md-3 col-lg-3 col-sm-12 col-xs-12'>
                        <label for='delivery' id='label_delivery'>Domestic Delivery</label>
                    </div>
                    <div class='col-md-1 col-lg-1 col-sm-12 col-xs-12'>
                        <% if @product.domestic_delivery != nil %>
                            <input type='checkbox' name='domestic_delivery' onchange="insert_delivery_fields('domestic')" id='domestic_delivery' checked/>
                        <% else %>
                            <input type='checkbox' name='domestic_delivery' onchange="insert_delivery_fields('domestic')" id='domestic_delivery'/>
                        <% end %>

                    </div>
                    <div class='col-md-3 col-lg-3 col-sm-12 col-xs-12'>
                        <label for='delivery' id='label_delivery'>International Delivery</label>
                    </div>
                    <div class='col-md-1 col-lg-1 col-sm-12 col-xs-12' >
                        <% if @product.international_delivery != nil %>
                            <input type='checkbox' name='international_delivery' onchange="insert_delivery_fields('international')" id='international_delivery' checked/>
                        <% else %>
                            <input type='checkbox' name='international_delivery' onchange="insert_delivery_fields('international')" id='international_delivery'/>
                        <% end %>
                      </div>
                      <div class='col-md-2 col-lg-2 col-sm-12 col-xs-12'>
                        <label for='country_delivery' id='label_delivery_country'>Are you in your country?</label>
                      </div>
                      <div class='col-md-2 col-lg-2 col-sm-12 col-xs-12' >
                        <input type='checkbox' name='country_delivery' onchange="insert_delivery_fields('country_check')" id='country_delivery'/>
                      </div>
                    </div>
                <% end %>
                <% if @product.type_product == 'digital' %>
                  <div class='row select_sale'>
                      <div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
                        <% if @product.type_sale == 'ToSell' %>
                            <label id='label_sale' ><input type='radio' name='sale_type' id='sale_id' value='ToSell' onchange="insert_time_to_rent()" checked/>To
                              Sell</label>
                        <% else %>
                            <label id='label_sale' ><input type='radio' name='sale_type' onchange="insert_time_to_rent()" id='sale_id' value='ToSell'/>To
                              Sell</label>

                        <% end %>

                        <% if @product.type_sale == 'ToRent' %>

                            <label id='label_rent' ><input type='radio' name='sale_type' id='rent_id' onchange='insert_time_to_rent()' value='ToRent' checked/>To
                              Rent</label>
                        <% else %>
                            <label id='label_rent' ><input type='radio' name='sale_type' onchange='insert_time_to_rent()' id='rent_id' value='ToRent'/>To
                              Rent</label>
                        <% end %>

                        <% if @product.type_sale == 'ForFree' %>

                            <label id='label_free'><input type='radio' name='sale_type' id='free_id' onchange="insert_time_to_rent()" value='ForFree' checked/>For
                              Free</label>

                        <% else %>
                            <label id='label_free'><input type='radio' name='sale_type' id='free_id' onchange="insert_time_to_rent()" value='ForFree'/>For
                              Free</label>
                        <% end %>
                      </div>
                    </div> <!-- end row sale -->
                    <div class="form-group">
                        <label class=" control-label">File</label>
                        <input type="file" id="product_file" name="product_file" class="form-control margin-top-5" style="display: none;" onchange="setProductFile()"/>
                        <label for="product_file" id="product_file_label" class="btn glyphicon glyphicon-file" style="border-color: #000000" data-toggle="tooltip"><%= @product.file_product.file.filename %></label>

                    </div>
                <% end %>

                <% if @product.domestic_delivery != nil %>
                  <div class="form-group">
                    <label for="domestic_delivery_field" id="label_domestic_field">Domestic price </label>
                    <input type='text' class='form-control' placeholder='domestic price' name='domestic_delivery_field' value="<%= @product.domestic_delivery %>" id='domestic_delivery_field'/>
                    <label for="domestic_extra_price_delivery_field" id="label_domestic_extra_field">price for extra unit
                      domestic </label>
                    <input type='text' class='form-control' placeholder='price for extra item' name='domestic_extra_price_delivery' value="<%= @product.price_for_extra_unit_domestic %>" id='domestic_extra_price_delivery_field'/>
                  </div>
                <% end %>

                <% if @product.international_delivery != nil %>
                  <div class="form-group">
                    <label for="international_delivery_field" id="label_international_field">International price </label>
                    <input type='text' class='form-control' placeholder='international price' value="<%= @product.international_delivery %>" name='international_delivery_field' id='international_delivery_field'/>
                    <label for="international_delivery_field" id="label_international_extra_field">price for extra unit
                      international </label>
                    <input type='text' class='form-control' placeholder='international price' name='international_extra_price_delivery' value="<%= @product.price_for_extra_unit_domestic %>" id='international_extra_price_delivery_field'/>
                  </div>
              <% end %>


              <div class="type_sale">

              </div>
            </div> <!-- end row -->
            <div class='col-md-12 col-lg-12 col-sm-12 col-xs-12'>
              <div class="row">
                  <% @image_edit.each_with_index do |picture, i| %>
                      <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12">
                        <div class="form-group">
                            <label class="btn glyphicon glyphicon-camera"
                                   data-toggle="tooltip" title="Add photo">
                              <%= file_field_tag "picture_product_#{i}", accept: 'image/jpeg,image/gif,image/png', class: 'photo_upload', id: "file_field-#{i}", onchange: "preview_image(#{i})" %>
                              <%= content_tag(:div, tag(:img, {src: picture.picture_product.url, id: "img-preview-#{i}", class: 'img-responsive'}), id: "upload-preview-#{i}") %>
                            </label>
                            <label id="clear-<%= "#{i}" %>" class="btn glyphicon glyphicon-remove" onclick="remove_image(<%= i %>)"></label>
                         </div>
                      </div>
                  <% end %>
              </div>
             </div>
              <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-sm-12 col-xs-12 ">
                <button type="submit" class='btn-sttatus img-responsive'>
                  <%= image_tag 'cars/btn_edit_lg.png' %>
                </button>
              </div>
        <% end %>

      </div>  <!-- end col 12-->
    </div> <!-- end row -->
  </div> <!-- end col 12-->
</div><!-- end well -->


<script>


    function setProductFile() {

        var product_file = $("#product_file");
        var file_label = $("#product_file_label");
        var filename = $('#product_file')[0].files[0]['name'];


        if (product_file.val() != "") {
            file_label.text(filename)
        }
    }


    function remove_image(img_index) {

        var control = $("#file_field-" + img_index);
        control.val("");
        var preview = $("#img-preview-" + img_index);
        preview.attr("src", null);


    }

    function preview_image(img_index) {
        var preview = $("#img-preview-" + img_index);

        var input = $(event.currentTarget);
        var file = input[0].files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            image_base64 = e.target.result;
            preview.attr("src", image_base64);
        };
        reader.readAsDataURL(file);
    }

    function insert_time_to_rent() {

        var rent_id = $('#rent_id');
        var free_id = $('#free_id');
        var sale_id = $('#sale_id');

        if (rent_id.is(':checked')) {

            $('#label_select').remove();
            $('#select_rent_time').remove();
            $('#price').remove();
            $('#label_price').remove();
            $('.time_to_rent_div').remove();
            $('.type_sale').append("<div class='form-group'><label for='price' id='label_price'>Price</label>" +
                    "<input type='text' placeholder='price' class='form-control' name='price' id='price' /></div>");


            $('.type_sale').append("<div class='time_to_rent_div'/>");


            $('.time_to_rent_div').append("<div class='form-group'><label for='select_rent_time' id='label_select'>Select rent type</label>" +
                    "<select id='select_rent_time' name='rent_time' class='form-control'>" +
                    "<option value='day'>Daily</option>" +
                    "<option value='week'>Weekly</option>" +
                    "<option value='moth'>Monthly</option>" +
                    "</select>/div>");
        }

        if (sale_id.is(':checked')) {
            $('#label_select').remove();
            $('#select_rent_time').remove();
            $('#price').remove();
            $('#label_price').remove();
            $('.type_sale').append("<div class='form-group'><label for='price' id='label_price'>Price</label>" +
                    "<input type='text' placeholder='price' class='form-control' name='price' id='price' /></div>");
        }
        if (free_id.is(':checked')) {
            $('#label_select').remove();
            $('#select_rent_time').remove();
            $('#price').remove();
            $('#label_price').remove();
        }


    }

    function insert_delivery_fields(deliveryType) {

        var international_check = $('#international_delivery');
        var domestic_check = $('#domestic_delivery');


        if (deliveryType == 'domestic' && domestic_check.is(':checked')) {
            $('#label_domestic_field').remove();
            $('#label_domestic_extra_field').remove();
            $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='domestic price'  name='domestic_delivery_field' id='domestic_delivery_field'  /></div>");
            $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='price for extra item'  name='domestic_extra_price_delivery' id='domestic_extra_price_delivery_field'  /></div>");
        }
        if (deliveryType == 'international' && international_check.is(':checked') == true) {
            $('#label_international_field').remove();
            $('#label_international_extra_field').remove();
            $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='international price'  name='international_delivery_field' id='international_delivery_field'  /></div>");
            $('.type_sale').append("<div class='form-group'><input type='text' class='form-control' placeholder='international price'  name='international_extra_price_delivery' id='international_extra_price_delivery_field'  /></div>");
        }
        if (international_check.is(':checked') == false) {
            $('#label_international_field').remove();
            $('#label_international_extra_field').remove();
            $('#international_delivery_field').remove();
            $('#international_extra_price_delivery_field').remove();
        }

        if (domestic_check.is(':checked') == false) {
            $('#label_domestic_field').remove();
            $('#label_domestic_extra_field').remove();
            $('#domestic_delivery_field').remove();
            $('#domestic_extra_price_delivery_field').remove();
        }

        if (deliveryType == 'country_check') {

            var checkcountry = $('#country_delivery');

            if (checkcountry.is(':checked') == true) {
                $(".type_sale").append("<%= escape_javascript(render 'shared/countries_select') %>");
            }
            if (checkcountry.is(':checked') == false) {

                $('#country_id').remove();
            }


        }

    }


</script>