<div id="product_table" class="well bg-shopping_cart">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor">
      <div class="col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10" >
        <span class="font-xxlarge ">Products </span>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor ">

        <form action="/product_carts/filter" method="post" data-remote="true">
          <div class="row">
              <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input id="starts_with" placeholder="name product" name="starts_with" type="text" class="form-control"/>
                </div>
              </div>
              <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                <button type="submit" class='btn-sttatus img-responsive'>
                  <%= image_tag 'cars/btn_search.png' %>
                </button>
              </div>
          </div> <!-- end row -->
        </form>
       </div> <!-- end col 12-->
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-20">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
              <table class="table table-hover table-bordered table-striped">
                <thead class="bg-blue text-white">
                    <tr>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Active</th>
                      <th colspan="2">&nbsp;</th>
                    </tr>
                </thead>
                <tbody class="product-index">
                    <%= render "content_product" %>
                </tbody>

              </table>
              <% if @products  %>
                <%= will_paginate @products %>
              <% end %>
            </div> <!--end table responsive -->
          </div> <!-- end col 12 -->
        </div>
      </div>
    </div> <!-- end row -->
  </div> <!-- end col 12-->
</div><!-- end well -->




