<div class="container">
  <div class="row">
       <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12" >
            <div class="well" id="well_show_product">
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4" >
                    <%= image_tag "store/product2.png", class: 'product_img_show main_img_border img-responsive' %>
                  </div> <!-- end col 3 -->
                  <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                      <h1> <%= @product_car.name %> </h1>
                    </div><!-- end col 12 -->

                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <%= render 'add_to_cart_form' %>
                    </div> <!-- end col-xs 12 -->
                  </div> <!-- end col-xs 8 -->

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10" >
                    <%= link_to image_tag("product_carts/btn_seller.png", class: 'img-responsive'), {:controller => 'users', :action => 'show', :id => "#{@product_car.user.id}"} %>
                </div> <!-- end col 3 -->
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-30">
                  <h4>Product Gallery</h4>
                  <%= render 'product_gallery' %>
                </div>

                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10">
                    <hr class="divisor_chat" />
                </div>


              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 p-word-wrap">
                <p class="text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Pellentesque eu placerat elit. Mauris ut blandit justo. Mauris vel accumsan lectus,
                  in gravida neque. Nullam nisl ante, faucibus eu tortor in, egestas bibendum metus.
                  Praesent blandit ornare dolor, eget iaculis nibh hendrerit sit amet. Morbi tincidunt
                  ipsum ac iaculis mattis. Sed eu pretium lorem. Cras ut egestas tellus, cursus molestie
                  massa. Donec tempus nunc sed magna gravida, eget vehicula elit egestas.
                  Pellentesque pulvinar sodales magna id tincidunt.
                  Donec blandit ex vitae nulla efficitur elementum. Nunc sit amet finibus magna.
                </p>
                <button id="read_more_button" type="button" data-toggle="collapse" data-target="#product_description" class="sn-border-color" >
                  <%= image_tag 'product_carts/btn_read_more.png', class: 'img-responsive' %>
                </button>
                <div id="product_description" class="collapse">
                  <span class="font_secundary_scolor">Product Description: </span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Pellentesque eu placerat elit. Mauris ut blandit justo. Mauris vel accumsan lectus,
                    in gravida neque. Nullam nisl ante, faucibus eu tortor in, egestas bibendum metus.
                    Praesent blandit ornare dolor, eget iaculis nibh hendrerit sit amet. Morbi tincidunt
                    ipsum ac iaculis mattis. Sed eu pretium lorem. Cras ut egestas tellus, cursus molestie
                    massa. Donec tempus nunc sed magna gravida, eget vehicula elit egestas.
                    Pellentesque pulvinar sodales magna id tincidunt.
                    Donec blandit ex vitae nulla efficitur elementum. Nunc sit amet finibus magna.
                  </p>
                </div>

              </div> <!-- end col 12 -->

               <hr />
               <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10">
                 <%= render 'review_section' %>
               </div>

              <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <%= render 'comment_modal' %>
              </div>
            </div> <!-- end row -->

          </div> <!-- end well   -->

        </div> <!-- end col-md-8 -->

        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" >

          <div class="col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3 col-sm-12 col-xs-12">
            <%= link_to image_tag('product_carts/btn_see_more.png', alt: 'Similar', class: 'img-responsive'), root_path %>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-bottom-20">
            <%= render 'see_more_section' %>
          </div>

          <div class="col-md-9 col-md-offset-3 col-lg-9 col-lg-offset-3 col-sm-12 col-xs-12 margin-top-5">
            <%= link_to image_tag('product_carts/btn_more_seller.png'), root_path, class: 'img-responsive' %>
          </div>

          <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10">
            <%= render 'more_from_seller_section' %>
          </div>

        </div> <!-- end col-md-4 -->
  </div> <!-- end row -->
</div> <!-- end container -->

<script>
    $("#read_more_button").click(function () {
        $("#read_more_button").hide();
    });
</script>
