<h4>Edit product <%= @product.name %></h4>

<div class="row padding_top">
  <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-12 col-xs-12" >
    <%= form_for(@product) do |f| %>

        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :code %>
            <%= f.text_field :code, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :stock %>
            <%= f.text_field :stock, class: 'form-control' %>
        </div>
        <button type="submit" class='btn-sttatus img-responsive'>
          <%= image_tag 'cars/btn_edit_lg.png' %>
        </button>

    <% end %>

  </div>
</div>
