<div  class="well bg-shopping_cart">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor">
      <div class="col-md-8 col-lg-8 col-md-offset-4 col-lg-offset-4 col-sm-12 col-xs-12 margin-bottom-20 margin-top-10" >
        <span class="font-xxlarge ">Listing Products </span>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 font_secundary_scolor">
        <div class="table-responsive">
          <table class="table table-hover table-bordered table-striped">
              <tr>
              </tr>

              <% @products.each do |product| %>
                  <tr>
                    <%= stylesheet_link_tag "letters" %>
                    <td><%= link_to product.name, class: "test-color",:controller => 'products' ,:action => 'show' , :id => product.id %></td>
                    <td><%= link_to image_tag('cars/btn_edit.png', class: 'img-responsive'),:controller =>'products',:action =>'edit', :id => product.id %></td>
                    <td><%= link_to image_tag('cars/btn_delete.png', class: 'img-responsive'),{:controller =>'products', :action => 'destroy', :id => product.id},:method => :delete %></td>
                  </tr>
              <% end %>

          </table>
        </div>

      </div>
      <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
        <%= link_to 'New Product', new_product_path %>
      </div>
    </div>
  </div> <!-- end row -->
</div>  <!-- end well -->



<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->


  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <td><%= link_to @products[0].name, class: "test-color",:controller => 'products' ,:action => 'show' , :id => @products[0].id %></td>
      <%= image_tag "https://mewmagazineblog.files.wordpress.com/2014/04/shakira_caratula.jpg" %>
    </div>
    <% for product in @products %>

    <div class="item">

       <td> <%= link_to product.name , class: "test-color",:controller => 'products' ,:action => 'show' , :id => product.id %></td>

      <%= image_tag "https://mewmagazineblog.files.wordpress.com/2014/04/shakira_caratula.jpg" %>
    </div>

    <%end%>



  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>