<div class="row padding_top ">

  <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 bg-white col-banner-profile " >
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10">
      <div class="col-md-4 col-lg-4 col-sm-10 col-xs-10 col-md-offset-0 col-lg-offset-0  col-sm-offset-0  col-xs-offset-0  margin-left-n-50">
        <h4> New Products </h4>
      </div>
    </div>

    <%= form_for(@product) do |f| %>

        <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :code %>
            <%= f.text_field :code, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :price %>
            <%= f.text_field :price, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.label :stock %>
            <%= f.text_field :stock, class: 'form-control' %>
        </div>

        <div class="col-md-6  col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12 margin-bottom-10">
          <button type="submit" class='btn-sttatus img-responsive'>
            <%= image_tag 'users/btn_save.png' %>
          </button>
        </div>

    <% end %>
  </div>
</div>


