<h1><%=h @product.name %></h1>

<blockquote>
  <%=h @product.code %>
</blockquote>

<%= image_tag "https://mewmagazineblog.files.wordpress.com/2014/04/shakira_caratula.jpg" %>



<%= link_to 'Edit',edit_product_path, :id => @product.id %> |
<%= link_to 'Back',root_path %>