

    <% @comments_product_table.each do |comment|  %>
        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="margin-right: -20%;">

          <div class="row">

            <div class="col-md-6" style="margin-right: -45%;">
              <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
            </div>

            <div class="col-md-6">
              <%= comment.user.email %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4" style="margin-left: 10%;">

              <p>
                <strong><%= comment.title %></strong>
                <%= comment.comment %>
              </p>
            </div>
          </div>



        </div>
    <% end %>
    <div class="row">
      <div class="col-md-6 center">
        <% if @comments_product_table %>
            <%= will_paginate @comments_product_table %>
        <% end %>
      </div>
    </div>

