
var text_area_comment = $(".text-area-comment").val();

if (text_area_comment ==null || text_area_comment ==""){
    alert('the comment cannot be empty')
}

$("#product-comment").html("<%= escape_javascript(render 'shared/comment_row') %>")

$("#product-modal").modal("hide")