<% if @sale %>
    <% @sale.sale_items.each do |sale_item| %>
        <tr>

          <td><%= sale_item.product_cart.name %></td>
          <td><%= sale_item.quantity %></td>
          <td><%= sale_item.unit_price %></td>
          <td><%= sale_item.total_price %></td>
        </tr>
    <% end %>
<% end %>