<% if @sale_list %>
    <% @sale_list.each do |sale| %>
        <tr>
          <td><%= sale.id %></td>
          <td><%= sale.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= sale.user.email %></td>
          <td><%=number_to_currency sale.total %></td>
          <td><%= link_to "View details", :controller => 'sales',:action => 'show' , :id => sale.id %></td>
        </tr>
    <% end %>
<% end %>