<div class="container">
  <h1 class="center"> Sales </h1>
  <div class="well center">

    <form action="/sales/filter" method="post" data-remote="true">
    <div class="row">

        <div class="col-md-3 ">
          <label for="final_date">Email costumer</label>
      <input id="starts_with" placeholder="email costumer" name="starts_with" type="text" class="form-control"/>
        </div>

        <div class="col-md-3 ">
          <label for="initial_date">Initial date</label>
          <input id="initial_date" placeholder="initial date" name="initial_date" type="date" class="form-control"/>
        </div>

        <div class="col-md-3 ">
          <label for="final_date">Final date</label>
          <input id="final_date" placeholder="final date" name="final_date" type="date" class="form-control"/>
        </div>

      </div>
    <div class="row">
      <div class="col-md-3 center">
        <input type="submit" class="btn btn-primary" value="Search">
      </div>
    </div>
  </form>
  </div>
</div>

<br>


<div id="sales_table" class="container">

  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Sale number</th>
      <th>Date</th>
      <th>Client</th>
      <th>Total</th>
      <td>View details</td>

    </tr>
    </thead>
    <tbody class="sale-index">
    <%= render "content_sale" %>
    </tbody>

  </table>
  <% if @sale_list  %>
      <%= will_paginate @sale_list %>
  <% end %>
</div>
