<%= render 'layouts/header_backend' %>
<div id="sales_items_table" class="container">


  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Product</th>
      <th>quantity</th>
      <th>unit_price</th>
      <th>Total Price</th>
    </tr>
    </thead>
    <tbody class="product-index">
    <%= render "content_sale_items" %>
    </tbody>

  </table>
  <% if @sale_list  %>

  <% end %>
</div>

