<footer class="footer">
  <nav class="left_footer" >
    <ul>
      <li><%= link_to "Inversor 1",   about_path %></li>
      <li><%= link_to "Inversor 2", contact_path %></li>
    </ul>
  </nav>
</footer>

