<header>
  <% if !logged_in? %>

      <% if  request.path != '/signup' %>

          <%= render 'layouts/login_header' %>

      <% else  %>

            <%= render 'layouts/signup_header' %>

      <% end %>

  <% else %>
      <nav class="navbar navbar-default main-header" id="nav_bar_blissgon" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <%= render 'shared/navbar_top' %>
          </div>
        </div>
      </nav>

  <% end %>
</header>

