<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%=link_to "Dashboard",carts_index_backend_path,class: "navbar-brand" %>

    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Order", carts_index_backend_path  %></li>
        <li><%= link_to "Sales", sales_index_path  %></li>
        <li><%= link_to "Products",product_carts_index_backend_path %> </li>


      </ul>
    </div>



  </div>
</nav>