<nav class="navbar navbar-default main-header" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
        <h1 class="head_font">
            <%= image_tag('logo_sttattus_white.png', alt: 'Logo Sttattus', class: 'img-responsive') %>
        </h1>
      </div>
      <!--ojo solo para pasar el user name de login session#new a signup user#new-->
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no_side_padding">
        <div class="col-md-2 col-lg-2 col-sm-2 col-xs-12 padding_45top no_side_padding">
            <h5 class="new_user_index margin-right-15" id="new_user_txt" >New User?</h5>
        </div>
        <div class="col-md-10 col-lg-10 col-sm-10 col-xs-12 col-offset-md-0 col-offset-lg-0 col-offset-sm-0 padding_15top ">
          <%= form_for(@user, url: signup_path) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12 no_side_padding">
                <%= f.label :name, value: "First Name - Last Name", class: 'a_blanco' %>
                <%= f.text_field :name, class: 'form-control no_side_padding', required: true %>
              </div>
              <div class="col-md-2 col-lg-2 col-sm-4 col-xs-12 no_side_padding">
                <%= f.submit "", class: "img-responsive", id: "go_button" %>
              </div>
          <% end %>
        </div>
      </div>
    </div> <!-- end row -->
  </div>
</nav>