<nav class="navbar navbar-default" id="unlogged_header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"><h1 class="head_font">
        <%= image_tag("navbar_top/logo_crown.png", alt: "Sttattus", size: "40x40") %> Sttattus </h1>
      </div>
      <div class="col-md-5 padding_35top">
        <h6 class="head_font_fuentes"> Welcome
          <% if params[:user].nil? %>

          <% else %>
              <%= params[:user][:name] %>
          <% end %>

          Thanks for visiting Sttattus, your
          first global network with automated
          translators and video chat with voice translation.
        </h6>
      </div>
      <div class="col-md-4 padding_35top">


      </div>

    </div>
  </div>
</nav>
