<div id="main" style="margin-left: 12%; margin-top: 5%;" >
  <div id="demoContainer">
    <div id="connectControls">
      <div id="iam">Not yet connected...</div>
      <strong>Users to call</strong>
      <div id="otherClients"></div>
    </div>
    <div id="videos">
      <video autoplay="autoplay" class="easyrtcMirror" id="selfVideo" muted="muted" volume="0" ></video>
      <div style="position:relative;float:left;">
        <video autoplay="autoplay" id="callerVideo"></video>
      </div>
    </div>
  </div>
  <br style="clear:both;" />
</div>