<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'selectize' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery.fitvids" %>
  <%= javascript_include_tag "jquery.bxslider" %>
  <%= javascript_include_tag "chat" %>
  <%= javascript_include_tag "home" %>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
  <%= javascript_include_tag "socket.io" %>
  <%= javascript_include_tag 'selectize' %>


  <%= csrf_meta_tags %>

  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width">
  <%= favicon_link_tag %>
  <%= yield(:head) %>
</head>
<body >
<%= render 'layouts/header' %>

<div class="container-fluid">
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  <% render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>

